<div class="h370">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                        close-text="Close" ng-model="search.fromDate" placeholder="From Date">
                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDatePicker();"><i class="glyphicon glyphicon-calendar" ></i></button>
                                        </span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"
                        close-text="Close" ng-model="search.toDate" placeholder="To Date">
                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDatePicker2();"><i class="glyphicon glyphicon-calendar" ></i></button>
                                        </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-center mart">
                <button class="btn btn-success" ng-click="getAllItems(search)">Go</button>
                <button class="btn btn-danger" ng-click="clearFilter()">Clear</button>
                <button class="btn btn-danger" ng-click="closeFilter()">Cancel</button>
            </div>
        </div>
    </div>
</div>