<footer>
    <div class="footer_bgup" ng-controller="headerctrl">
        <div class="container">
            <div class="row">
                <div class="footer_padd">
                    <div class="col-md-4">
                        <h3>About Clickmania</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                            type and scrambled.
                        </p>
                        <p><a href="#" target="_blank" style="text-decoration: underline;">Know more</a></p>
                    </div>
                    <form ng-submit="subscribeData(formData)" name="loginForm">
                        <div class="col-md-4">
                            <h3>Subscribe Newsletter</h3>
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Email Address" ng-model="formData.email" required>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                 <span>Subscribe</span>
                        </button>
                                </div>
                            </div>
                            <div class="soc_icns">
                                <p>Follow us on </p>
                                <img src="frontend/img/social.png" alt="" class="img-responsive">
                            </div>
                        </div>
                    </form>
                    <div class="col-md-2">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#" target="_blank">Home</a></li>
                            <li class="list-group-item"><a ui-sref="categories" target="_blank">Categories</a></li>
                            <li class="list-group-item"><a href="#" target="_blank"> photographers</a></li>
                            <li class="list-group-item"><a href="#" target="_blank">Artist of the month</a></li>
                            <li class="list-group-item"><a href="#" target="_blank">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#" target="_blank">Media</a></li>
                            <li class="list-group-item"><a href="#" target="_blank">Contact us</a></li>
                            <li class="list-group-item"><a href="#" target="_blank">Privacy Policy</a></li>
                            <li class="list-group-item"><a href="#" target="_blank">Terms&conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bgdw">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!--<p>Copyright &copy; {{template.year}}. All Right Resvered.</p>-->
                    <p>Copyright &copy; 2016 Click Mania</p>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <p>Designed by <a href="#" target="_blank">TING</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>