<footer>
    <div class="footer_bgup" ng-controller="headerctrl">
        <div class="container">
            <div class="row">
                <div class="footer_padd">
                    <div class="col-md-4">
                        <div class="about-clickm">
                            <h3>About Clickmania</h3>
                            <p>
                                Clickmania is an exclusive site for photographers, wherein we believe that photographers are not merely service providers
                                but artists in the first place. Our mission is to create a universal platform for beginners,
                                semi-professional & professional photographers, where they showcase their art & find potential
                                absorbers of their work.
                            </p>
                            <p><a href="#" class="blank" ui-sref="aboutus" style="text-decoration: underline;">Know more</a></p>
                        </div>
                    </div>
                    <form ng-submit="subscribeData(formData)" name="loginForm">
                        <div class="col-md-4">
                            <h3>Subscribe Newsletter</h3>
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Email Address" ng-model="formData.email" required>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                 <span ng-click="subscribe('sm')">Subscribe</span>
                        </button>
                                </div>
                            </div>
                            <div class="soc_icns">
                                <p>Follow us on </p>
                                <img src="frontend/img/social.png" alt="" class="img-responsive">
                            </div>
                        </div>
                    </form>
                    <div class="col-md-2">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#" class="blank">Home</a></li>
                            <li class="list-group-item"><a href="#" class="blank" ui-sref="aboutus">About Us</a></li>
                            <li class="list-group-item"><a ui-sref="categories" class="blank">Categories</a></li>
                            <li class="list-group-item"><a href="#" class="blank">Featured photographers</a></li>
                            <li class="list-group-item"><a href="#" class="blank">Artist of the month</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#" class="blank">Careers</a></li>
                            <li class="list-group-item"><a class="blank">Media</a></li>
                            <li class="list-group-item"><a ui-sref="contact-us"  class="blank">Contact us</a></li>
                            <li class="list-group-item"><a ui-sref="privacy-policy" class="blank">Privacy Policy</a></li>
                            <li class="list-group-item"><a ui-sref="terms" class="blank">Terms & conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bgdw">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!--<p>Copyright &copy; {{template.year}}. All Right Resvered.</p>-->
                    <p>Copyright &copy; Clickmania (OPC) Pvt.Ltd</p>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <p>Designed by <a href="#" target="_blank">TING</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>