<header ng-controller="headerctrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed visible-xs" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                        <!--<a class="navbar-brand" ui-sref="home"><img src="frontend/img/logo.png" alt="logo" width="20"> </a>-->
                        <a class="navbar-brand" ui-sref="home">
                            <div class="navbar-toggle" ng-click='toggleState()'>
                                <div class="icon_float">
                                    <span class="icon-bar icon_bar0"></span>
                                    <span class="icon-bar icon_bar1"></span>
                                    <span class="icon-bar icon_bar2"></span>
                                </div>
                            </div>
                            <img src="frontend/img/cmlogo.png" class="cmlogo img-responsive" alt="ClickMania_Logo">
                        </a>
                    </div>
                </div>
                <!--<div class="collapse navbar-collapse" id="nav-collapse">
                <div ng-include="template.menu" class="template menu"></div>         
            </div>-->


                <div class="col-md-4">
                    <!--search bar-->
                    <div class="Search_bar">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for photographer">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--search_bar-->
                </div>
                <div class="col-md-4">
                    <!--user name with img-->
                    <div class="photographer text-right">
                        <div class="photographer_img">
                            <img src="frontend/img/user.png" alt="UserImage" class="img-responsive" ui-sref="photographer" ng-if="!template.profile.profilePic">
                            <img ng-src="{{template.profile.profilePic | serverimage}}" alt="UserImage" class="img-responsive" ui-sref="photographer" ng-if="template.profile.profilePic">

                        </div>
                        <span ng-if="!template.profile" ng-click="uploadSignup()">Sign up as photographer</span>
                        <span ng-if="template.profile" ui-sref="photographer">{{template.profile.name}}</span>
                        
                        <button ng-if="template.profile" ng-click="logout()" >Logout</span>
                        
                    </div>
                    <!--photographer-->
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="clearfix  visible-md"></div>