<section>
    <div class="aboutus">
        <div class="aboutus__bg-img">
            <img src="frontend/img/aboutus.jpg" alt="aboutus" class="img-responsive">
        </div>
        <div class="container">

            <div class="aboutus__desc">
                <p> Clickmania (OPC) Pvt.Ltd. is a registered company under the Indian Companies Act 2013. We are an exclusive
                    site for photographers. We in Clickmania believe a photographer is an artist and not merely a service
                    provider. Our mission is to create a platform for all the photographers irrespective of whether
                    they are professionals or semi-professionals or beginners. We want to give everyone a chance
                    to commercialize their art. The potential clients looking for photographers can search by categories
                    / location / price etc. Whether you are a photographer or looking for a photographer, we have something
                    for you.
                </p>
                <h5>Photographers:</h5>
                <ul class="list-group">
                    <li class="list-group-item dot">You can register with us as Free Member or a Silver (paid) / Gold (paid) member for a nominal annual
                        fee.
                    </li>
                    <li class="list-group-item dot"> Potential clients can browse through your photographs (only for paid members) and contact you directly.
                        We do not charge any commission.</li>
                    <li class="list-group-item dot"> Free members can also be contacted by the clients directly. We do not charge any commission.</li>
                    <li class="list-group-item ">You can enter as an end user and look for assistant photographers / photography mentors from our list
                        of photographers and contact them directly.</li>
                    <li class="list-group-item dot"> Potential client can contact you for high resolution photos and prints for their office / home / place
                        of business.</li>
                </ul>

                <h5>End users:</h5>
                <ul class="list-group">
                    <li class="list-group-item">No registration fee is required.</li>
                    <li class="list-group-item">You can search for a photographer of your choice from our list across multiple categories such as weddings,
                        pre-weddings, portfolio, sports, corporate events, family functions etc.</li>
                    <li class="list-group-item">You can contact the photographers if you are interested in learning photography as a hobby.</li>
                    <li class="list-group-item"> You can contact the photographers in our list to buy high resolution photos or prints for your office
                        / home / place of business</li>

                </ul>
            </div>
        </div>
    </div>
</section>