<section>
    <div>
        <img src="frontend/img/am-bg.jpg" class="img-responsive">
    </div>
    <div class="page-margin">
        <div class="text-margin dosis-bold">
            Anurita Chandrappa is a Bangalore based makeup artist. Although she has been in the profession for not very long, but she already managed to carve out a niche for herself. Let’s get to know her better.
        </div>
        <div class="body-margin" ng-repeat="box in boxes" ng-class-odd="'odd-curve'" ng-class-even="'border'">
        <div>
            <div class="question"><span>Q:</span><span class="question-font">{{box.Question}}</span></div>
            <div class="text-style"><span class="answer">A: </span><span class="answer-font"><b>Anurita:</b> {{box.Answer}}</span></div>
        </div>
        </div>
    </div>
</section>