<section>
    <div class="becomefp mgtp80">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <div class="becomefp-title">
                        <div class="ht30">
                            <img src="frontend/img/clickm/6.png" class="imgwt" alt="">
                            <h1 class="fith damionr text-capitalize">Join to become a<br><span>featured photographer</span></h1>
                        </div>
                        <p><span class="name">Dear {{name}},</span><br> You are already a Featured Photographer for the month of
                            <b>{{month}}</b> Please visit us next month to become a featured photographer again.
                        </p>
                    </div>

                    <div class="cam-img">
                        <img src="frontend/img/camera.png" class="img-responsive" alt="camera">
                    </div>
                    <p><button class="btn orange-btn" ui-sref="photographer"> Back to Your Profile</button></p>
                </div>
            </div>
        </div>
    </div>
</section>