<!--start of Categories section-->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="ht30 mt_103 categories_title">
                    <img src="frontend/img/clickm/6.png" class="imgwt doneLoading" alt="">
                    <h2>Categories</h2>
                </div>
            </div>
            <div class="all_cate">
                <div ng-repeat="catEl in bigImageCategory track by $index">
                    <div class=" col-md-12" ng-if="catEl">
                       <a ui-sref="wild-photographer({catid:catEl._id,catName:catEl.name})"><img ng-src="{{catEl.bigimage | serverimage}}" class="img-responsive" alt=""></a>
                        <!--<div class="img-section__text">
                        <h3>{{catEl[0].name}}</h3>
                    </div>-->
                    </div>
                    <div>
                        <div ng-if="smallCat[$index][0]" class=" col-md-6  col-xs-12 padd_rt">
                           <a ui-sref="wild-photographer({catid:smallCat[$index][0]._id,catName:smallCat[$index][0].name})"> <img ng-src="{{smallCat[$index][0].smallimage | serverimage}}" class="img-responsive" alt=""></a>
                            <!--<div class="img-section__text">
                        <h3>{{catEl[1].name}}</h3>
                    </div>-->
                        </div>
                        <div ng-if="smallCat[$index][1]" class=" col-md-6 padd_lt">
                           <a ui-sref="wild-photographer({catid:smallCat[$index][1]._id,catName:smallCat[$index][1].name})"> <img ng-src="{{smallCat[$index][1].smallimage | serverimage}}" class="img-responsive" alt=""></a>
                            <!--<div class="img-section__text">
                        <h3>{{catEl[2].name}}</h3>
                    </div>-->
                        </div>
                    </div>
                    <!--<div class=" col-md-12">
                    <img src="frontend/img/cat5.jpg" class="img-responsive" alt="">
                </div>

                <div class=" col-md-6  col-xs-12 padd_rt">
                    <img src="frontend/img/cat8.jpg" class="img-responsive" alt="">
                </div>
                <div class=" col-md-6 padd_lt">
                    <img src="frontend/img/cat7.jpg" class="img-responsive" alt="">
                </div>
                <div class=" col-md-12">
                    <img src="frontend/img/cat6.jpg" class="img-responsive" alt="">
                </div>-->
                </div>
            </div>
        </div>
        <!--<div class="col-md-2 col-md-push-5 ">
            <button class="btn btn-block">Load More</button>
        </div>-->
    </div>
</section>
<!--end of categories section-->