<!--start of Categories section-->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="ht30 mt_103">
                    <img src="frontend/img/clickm/6.png" class="imgwt doneLoading" alt="">
                    <h2>Categories</h2>
                </div>
            </div>
            <div class="all_cate">
                <div class=" col-md-12">
                    <img src="frontend/img/cat2.jpg" class="img-responsive" alt="">
                </div>
                <div class=" col-md-6  col-xs-12 padd_rt">
                    <img src="frontend/img/cat3.jpg" class="img-responsive" alt="">
                </div>
                <div class=" col-md-6 padd_lt">
                    <img src="frontend/img/cat4.jpg" class="img-responsive" alt="">
                </div>
                <div class=" col-md-12">
                    <img src="frontend/img/cat5.jpg" class="img-responsive" alt="">
                </div>

                <div class=" col-md-6  col-xs-12 padd_rt">
                    <img src="frontend/img/cat8.jpg" class="img-responsive" alt="">
                </div>
                <div class=" col-md-6 padd_lt">
                    <img src="frontend/img/cat7.jpg" class="img-responsive" alt="">
                </div>
                <div class=" col-md-12">
                    <img src="frontend/img/cat6.jpg" class="img-responsive" alt="">
                </div>

                <div class="col-md-2 col-md-push-5 ">
                    <button class="btn btn-block">Load More</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of categories section-->