<section>
    <div class="compet mgtp80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="compet__title">
                        <div class="ht30">
                            <img src="frontend/img/clickm/6.png" class="imgwt doneLoading" alt="">
                            <h1 class="fith damionr ft100 text-capitalize">Compete<br><span>with the best</span></h1>
                        </div>
                        <p>If winning for you is a breeze the best picture you have got to freeze </p>
                    </div>

                </div>
            </div>
            <div class="compet__contest">
                <h1 class="text-center">{{currentContest.contestName}}</h1>
                <div class="compet__contest-img">
                    <img ng-src="{{currentContest.image | serverimage}}" alt="Contest-Image" class="img-responsive">
                </div>

                <h2><span>Contest Theme:</span>{{currentContest.contestName}}<br>
                    <span>Winning Prize:</span>{{currentContest.winingPrice}} </h2>

                <div class="text-center"><button class="btn orange-btn" type="button" ui-sref="photo-contest({photoContestId:currentContest._id})">Enter</button></div>
            </div>

            <div class="compet__prev-contest">
                <h1 class="text-center damionr">Previous Contest</h1>
                <div class="compet__prev-contest__desc">
                    <h3>Winner Name:<span>{{previousContestWinner.photographerId.name}}</span></h3>
                    <h3>Contest Theme:<span>{{previousContest.contestName}}</span></h3>
                    <h3 class="brd-none">Photo Entries:</h3>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="photo in previousContestWinner.Photos ">
                            <div class="compet__prev-contest__desc--shadow">
                                <img ng-src="{{photo | serverimage}}" alt="" class="img-responsive">
                            </div>
                        </div>
                        <!--<div class="col-md-4">
                            <div class="compet__prev-contest__desc--shadow">
                                <img src="frontend/img/competition/4.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="compet__prev-contest__desc--shadow">
                                <img src="frontend/img/competition/4.jpg" alt="" class="img-responsive">
                            </div>
                    </div>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>