<section>
    <div class="compet mgtp80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="compet__title">
                        <div class="ht30">
                            <img src="frontend/img/clickm/6.png" class="imgwt doneLoading" alt="">
                            <h1 class="fith damionr ft100 text-capitalize">Compete<br><span>with the best</span></h1>
                        </div>
                        <p>If winning for you is a breeze the best picture you have got to freeze </p>
                    </div>

                </div>
            </div>
            <div class="compet__contest">
                <h1 class="text-center">CONTEST - 02</h1>
                <div class="compet__contest-img">
                    <img src="frontend/img/competition/1.jpg" alt="Contest-Image" class="img-responsive">
                </div>

                <h2><span>Contest Theme:</span>Tribal Culture in India<br>
                    <span>Winning Prize:</span>1,00000 rupees</h2>

                <div class="text-center"><button class="btn orange-btn" type="button">Enter</button></div>
            </div>

            <div class="compet__prev-contest">
                <h1 class="text-center damionr">Previous Contest</h1>
                <div class="compet__prev-contest__desc">
                    <h3>Winner Name:<span>Asmara Khan</span></h3>
                    <h3>Contest Theme:<span>Wedding Photography</span></h3>
                    <h3 class="brd-none">Photo Entries:</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="compet__prev-contest__desc--shadow">
                                <img src="frontend/img/competition/2.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="compet__prev-contest__desc--shadow">
                                <img src="frontend/img/competition/4.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="compet__prev-contest__desc--shadow">
                                <img src="frontend/img/competition/4.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>