<section class="feature-photo">
    <div class="container">
        <div class="pad60">
            <div class="head-name">
                <div class="ht30">
                    <img src="frontend/img/clickm/6.png" class="imgwt" alt="">
                    <h1 class="fith damionr ft100 text-capitalize">Join to become a</h1>
                </div>
                <h1 class="sech damionr ft100 text-capitalize">Featured photographer</h1>
                <p class="hctl">You could be a featured photographer on Clickmania and come under the lens of those who would love to harness
                    your services. For as low as Rs 1180 OR as low as Rs 1000 (plus taxes) you could become a featured photographer
                    on the home page of Clickmania, where you could showcase your work for a month.</p>
            </div>
            <!-- start section tab -->
            <div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <!--<ul class="full-tabs pad60 list-inline">
                <li ng-class="{'active': activeTab == 1}" ng-click="toggleTab(1)" ng-if="!isLoggedIn">STEP 1</li>
                <li ng-class="{'active': activeTab == 2}" ng-click="toggleTab(2)" ng-if="isLoggedIn">STEP 2</li>
            </ul>-->
                        <ul class="full-tabs pad60 list-inline">
                            <li ng-class="{'active': showStep == 1}" disabled="!steps">STEP 1</li>
                            <li ng-click="showStep=2" ng-class="{'active': showStep == 2}" disabled="steps">STEP 2</li>
                            <li ng-class="{'active': showStep == 3}" disabled="steps">STEP 3</li>
                        </ul>
                    </div>
                </div>
                <!-- end section tab -->
                <!-- start first tab -->
                <!--<div class="row" ng-if="activeTab == 1">-->
                <div class="row">
                    <div ng-if="showStep == 1">
                        <div class="col-md-6 col-sm-6 pad-right5">
                            <form name="loginForm">
                                <div class="signup-form">
                                    <div class="row mr15 light-grey min-h">
                                        <div class="col-md-12 text-center">
                                            <h1 class="damionr orange-color forml">Sign up</h1>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" class="form-control" id="name" placeholder="First Name" ng-model="formData.name" name="name" required>
                                            <span class="alignment" ng-show="loginForm.name.$touched && loginForm.name.$invalid">Please enter your name</span><br>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="email" class="form-control" id="email" placeholder="Email id" ng-model="formData.email" name="email" required>
                                            <span class="alignment" ng-show="loginForm.email.$touched && loginForm.email.$invalid">Please enter valid email id</span><br>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="password" class="form-control" id="pwd" placeholder="Password" ng-model="formData.password" name="passsword"
                                                required>
                                            <span class="alignment" ng-show="loginForm.passsword.$touched && loginForm.passsword.$invalid">Please enter password</span><br>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="password" class="form-control" id="pwd1" placeholder="Confirm Password" ng-model="formData.ConfirmPassword"
                                                name="ConfirmPassword" required>
                                            <span class="alignment" ng-if="loginForm.ConfirmPassword.$touched && (formData.password !== ConfirmPassword)">Check your password</span><br>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="checkbox text-left condition-box" ng-init="terms">
                                                <p>
                                                    <input type="checkbox" id="test1" ng-model="terms">
                                                    <label for="test1" class="tnc">I agree with the <span>Terms &amp; Conditions</span> and <span>Privacy Policy</span> </label>
                                                </p>
                                                <p class="alert-text"></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 mr40 text-center">
                                            <button class="btn orange-btn" type="submit" ng-click="verifyAndSendSignUpEmail(formData,terms)">Sign up</button>
                                            <br>
                                            <hr class="border-hr text-center">
                                            <br>
                                            <a ui-sref="users" class="btn btn-social facek">
                                                <span class="fa fa-facebook fspan"></span> Sign up with Facebook
                                            </a>
                                            <a ui-sref="users" class="btn btn-social google-back">
                                                <span class="fa fa-google-plus googlespan"></span> Sign up with Google+
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-sm-6 pad-right5">
                            <form name="loginform">
                                <div class="login-form">
                                    <div class="row mr15 light-grey min-h">
                                        <div class="col-md-12 col-sm-12 text-center">
                                            <h1 class="damionr orange-color forml">Login</h1>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="email" class="form-control" id="emailId" name="emailId" placeholder="Email id" ng-model="formdata.email" required>
                                            <span class="alignment" ng-show="loginform.emailId.$touched && loginform.emailId.$invalid">Please enter valid email id</span><br>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="password" class="form-control" name="passsword" id="passwrd" placeholder="Password" ng-model="formdata.password"
                                                required>
                                            <span class="alignment" ng-show="loginform.passsword.$touched && loginform.passsword.$invalid">Please enter password</span><br>
                                            <p class="pull-right "><a class="forgot-pwd" ng-click="changePwd();"> Forgot password</a></p>
                                            <!-- <a class="flink" ng-click="changePwd();"> Forgot Password?</a> -->
                                        </div>
                                        <div class="col-xs-12 mr40 text-center">
                                            <button class="btn orange-btn" type="button" ng-click="login(formdata)"> Login</button>
                                            <br>
                                            <hr class="border-hr text-center">
                                            <br>
                                            <a ui-sref="users" class="btn btn-social facek">
                                                <span class="fa fa-facebook fspan"></span> Login with Facebook
                                            </a>
                                            <a ui-sref="users" class="btn btn-social google-back">
                                                <span class="fa fa-google-plus googlespan"></span> Login with Google+
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <!-- end first tab -->
                <!-- start second tab -->
                <!--<div class="row" ng-if="activeTab == 2">-->
                <div class="row" ng-if="showStep == 2">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
                        <div class="intro hctl">
                            <strong class="intro-con">Hi {{photographerData.name}},</strong>
                            <p class="intro-con">You can become a featured photographer for the month of <strong>{{finalMonth}}</strong> by only
                                paying
                                <i class="fa fa-inr"><strong> {{amount[2].amount}}.</strong></i>
                                <p class="intro-con">In order to become a featured photographer you need to subscribe.</p>
                        </div>
                        <ul class="list pad60">
                            <h2>Benefits</h2>
                            <p class="intro-con">“Get featured in our home page for a month and get noticed by the <br> customers who are looking
                                out for photographers."</p>
                        </ul>
                        <div class="pay_btn text-center">
                            <p><a class="btn orange-btn" role="button" ng-click="gotoPayment()">Proceed to Pay</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-if="showStep == 3">
                        <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1 pad-right5">
                            <form name="bill">
                                <div class="signup-form">
                                    <div class="row mr15 light-grey side-margin">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <h1 class="damionr orange-color forml">Bill To / Service To Address</h1>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" class="form-control" placeholder="First Name" ng-model="formData.fname" name="firstname" required>
                                            <span class="alignment" ng-show="bill.firstname.$touched && bill.firstname.$invalid">Please enter your first name</span><br>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="formData.lname" name="lastname" required>
                                            <span class="alignment" ng-show="bill.lastname.$touched && bill.lastname.$invalid">Please enter your last name</span><br>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <input type="text" class="form-control" id="address" placeholder="Address" ng-model="formData.address" name="address" required>
                                            <span class="alignment" ng-show="bill.address.$touched && bill.address.$invalid">Please enter your address</span><br>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" class="form-control" id="india" placeholder="India" ng-model="formData.country" name="india" value="India"
                                                readonly><br>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <select class="form-control placeholder select-class" id="state" ng-model="formData.state" name="state" required><option value="" hidden>State</option><option value="{{state}}" ng-repeat="state in states">{{state}}</option></select><br>
                                            <span ng-show="bill.state.$touched && bill.state.$invalid">Please select your State</span>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="select" class="form-control" id="city" placeholder="City" ng-model="formData.city" name="city" required>
                                            <span class="alignment" ng-show="bill.city.$touched && bill.city.$invalid">Please enter your City</span><br>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="number" class="form-control" id="pin" placeholder="Pincode" ng-model="formData.pin" name="pin" required>
                                            <span class="alignment" ng-show="bill.pin.$touched && bill.pin.$invalid">Please enter your pin-code</span><br>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5 class="orange-color">GST Registered</h5>
                                                </div>
                                                <div class="col-md-6 margin-top text-right">
                                                    <div class="radio-class">
                                                        <input type="radio" id="test1" name="radio-group">
                                                        <label ng-click="rc='yes'" class="margin-right" for="test1">Yes</label>
                                                        <input type="radio" id="test2" name="radio-group" ng-checked="true">
                                                        <label ng-click="rc='no'" ng-init="rc='no'" for="test2">No</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" class="form-control bottom" id="gst" placeholder="GST Number" ng-disabled="rc=='no'" ng-model="formData.GSTNumber"
                                                name="gst"><br>
                                        </div>
                                        <div class="col-xs-12 mr40 text-center">
                                            <button class="btn orange-btn" type="submit" ng-click="gstPayment(formData)" ng-disabled="!bill.$valid">Proceed to Pay</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</section>