<!--<div class="container">
    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>
    <swiper autoplay="5000" effect="slide" slides-per-view="1" loop="true">
        <slides>
            <slide ng-repeat="s in mySlides">
                <img ng-src="{{s}}" class="img-full" noloading="true">
            </slide>
        </slides>
        <prev></prev>
        <next></next>
        <pagination></pagination>
    </swiper>

    <div class="row">
        <div class="col-md-2" ng-repeat="s in mySlides">
            <a ng-href="{{s}}" rel="gal" fancybox>
                <img ng-src="{{s}}" class="img-full">
            </a>
        </div>
        <div class="col-md-2">
            <a class="various fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" fancybox><img ng-src="http://img.youtube.com/vi/L9szn1QQfas/maxresdefault.jpg" class="img-full"></a>
        </div>
    </div>
</div>-->
<!--<flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
    <li>
        <img ng-src="{{s}}" class="img-full">
    </li>
</flex-slider>-->
<section class="sliding_bg">
    <div class="sidebar text-center" sidebar-directive="state">
        <ul class="list-group navigation">
            <li class="list-group-item navigation-items"><a href="#">First item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Second item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Third item</a></li>
            <li class="list-group-item navigation-items"><a href="#">First item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Second item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Third item</a></li>
            <li class="list-group-item navigation-items"><a href="#">First item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Second item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Third item</a></li>
            <li class="list-group-item navigation-items"><a href="#">First item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Second item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Third item</a></li>
            <li class="list-group-item navigation-items"><a href="#">First item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Second item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Third item</a></li>
            <li class="list-group-item navigation-items"><a href="#">First item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Second item</a></li>
            <li class="list-group-item navigation-items"><a href="#">Third item</a></li>
        </ul>
    </div>
    <div class="mg_lft" scrolly>
        <!--scrolly is an angular directive for scrolling fn-->
        <!--mg_lft is used to push the swiper to right side when side nav is activated-->
        <div id="sidenav-overlay" style="opacity: 1; display: none;"></div>
        <swiper autoplay="5000" effect="slide" loop="true">
            <slides>
                <slide ng-repeat="s in mySlides track by $index">
                    <img ng-src="{{s}}" class="img-full" noloading="true">
                </slide>
            </slides>
            <prev></prev>
            <next></next>
            <!--<pagination></pagination>-->
            <div class="bg_main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-push-2 jumbotron_middle">
                            <div class="jumbotron">
                                <h2 class="text-center">They froze time to let pictures<br>
                                    <div class="text-right" style="padding-right: 50px;">Give away stories</div>
                                </h2>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for photographer">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--main-->
            <div id="scrollArea" class="scroll_down text-center" ng-click="goToElemment('middle')">
                <p>Scroll Down</p>
                <hr class="text-center">
            </div>
        </swiper>
    </div>
</section>
<!--flex slider for featured photographer-->
<section class="featu_photo_caraso" >
    <div class="container">
        <div class="col-md-12">
            <div class="fp_padd_rl">
                <!--<h2>Featured</h2>-->
                <h2 class="head-f">Featured <br> &nbsp; Photographers</h2>
                <!--padding right & left-->
                <flex-slider slide="user in fpUser track by $index" animation="slide" prev-text="" next-text="" item-margin="10" max-items="3"
                    item-width="250">
                    <!--ng-repeat="user in fpUser track by $index"-->
                    <li class="fp_width">
                        <div class="fp_innerPadd">
                            <!--inner padding for li-->
                            <img ng-src="{{user.background}}" class="img-responsive" alt="">
                            <div class="fp_user_icn text-center">
                                <div class="border-half">
                                    <img ng-src="{{user.profile}}" class="img-responsive" alt="">
                                </div>
                                <h3>{{user.title}}</h3>
                                <p>Speciality: {{user.speciality}}</p>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-push-2">
                            <div class="view_prof_btn">
                                <button class="btn btn-danger btn-block">View Profile</button>
                            </div>
                        </div>
                    </li>
                </flex-slider>
                <div class="col-md-2 col-md-push-5" id="middle">
                    <div class="fp_viewAll_btn">
                        <button class="btn btn-block" ui-sref="feature-photographer">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of section flex slider for featured photographer-->
<!--photo contest-->
<section class="pht_contest">
    <div class="container">
        <div class="row">
            <div class="camera_img">
                <img src="frontend/img/photo_contest1.png" alt="Camera" class="img-responsive center-block" width="100" alt="">
            </div>
            <div class="col-md-6 col-md-push-3">
                <div class="jumbotron">
                    <div class="ht100">
                        <h2> &nbsp Join the<br>
                            <h2>Photo contest.</h2>
                        </h2>
                    </div>
                    <p>Get clicking in style and if your picture have got the oomph factor you could win a lakh of rupees </p>
                    <div class="col-md-5 col-md-push-3">
                        <div class="pht_contest_btn">
                            <button class="btn btn-block">Click Here</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="compete_btn">
        <p>
            <a class="btn whit-btn " type="button" href="#"> COMPETE NOW</a>
        </p>
    </div>
</section>
<!--end of photo contest-->
<!--start of Categories section-->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="ht30">
                    <img src="frontend/img/clickm/6.png" class="imgwt doneLoading" alt="">
                    <h2>Categories</h2>
                </div>
            </div>
            <div class="all_cate">
                <div class=" col-md-12">
                    <a ui-sref="wild-photographer"><img src="frontend/img/cat2.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class=" col-md-6  col-xs-12 padd_rt">
                    <a href="#"> <img src="frontend/img/cat3.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class=" col-md-6 padd_lt">
                    <a href="#"> <img src="frontend/img/cat4.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class=" col-md-12">
                    <a href="#"> <img src="frontend/img/cat5.jpg" class="img-responsive" alt=""></a>
                </div>
                <div class="col-md-2 col-md-push-5 ">
                    <button class="btn btn-block" ui-sref="categories">View All</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of categories section-->
<!-- start of signup section-->
<section class="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="img_relative">
                    <img src="frontend/img/cam1.png" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-md-6 mg">
                <div class="cam_heading">
                    <h2>Great with
                        <h2>Camera</h2>
                    </h2>
                </div>
                <p>You could reveal the stories you captured, on Clickmania and we will have you under the lens of people who
                    would want their own stories to be captured by you</p>
                <p class="text-right"><a class="btn orange-btn" type="button">Sign up</a></p>
                <div class="img_absolute">
                    <img src="frontend/img/cam2.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of signup section-->
<!-- start of Artist of the month section-->
<section class="atm">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="head-f">Artist of <br> &nbsp the month</h2>
                <div class="bg_img">
                    <img src="frontend/img/atm0.jpg" class="img-responsive" alt="">
                    <div class="user-ab">
                        <div class="border-half">
                            <img src="frontend/img/clickm/pic1.png" alt="" class="img-responsive profile-f-img doneLoading">
                        </div>
                        <!--<div class="intro-profile">
                            <p class="name-loc ng-binding">Zaroon Jaffrani | Pune</p>
                            <p class="spec ng-binding">Speciality: wild life</p>
                        </div>-->
                    </div>
                    <img src="frontend/img/atm2.png" alt="" class="img-responsive abslt">
                </div>
            </div>
            <div class="col-md-5">
                <div class="user_info">
                    <h2>Zaroon Jaffrani | Pune<br><span>wild life</span></h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                        it to make a type specimen book. It has survived not only five centuries </p>
                    <p class="text-left"><a class="btn whit-btn" type="button" href="#"> Read More</a></p>
                </div>
            </div>
        </div>
</section>
<!-- end of Artist of the month section-->
<!--start of section testimonial-->
<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Testimonials</h2>
                <flex-slider slide="x in testimonial track by $index" animation="slide" slide-show="true" pause-on-hover="true" slideshow-speed="3000">
                    <li>
                        <div class="padd63">
                            <p>{{x.text}}</p>
                            <p class="text-right">{{x.ceo}}</p>
                        </div>
                    </li>
                </flex-slider>
                <img src="frontend/img/testi1.png" alt="" class="img-responsive abslt_lt">
                <img src="frontend/img/testi.png" alt="" class="img-responsive abslt_rt">
            </div>
        </div>
    </div>
</section>
<!--end of section testimonial-->