<!--<div class="container">
    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>
    <swiper autoplay="5000" effect="slide" slides-per-view="1" loop="true">
        <slides>
            <slide ng-repeat="s in mySlides">
                <img ng-src="{{s}}" class="img-full" noloading="true">
            </slide>
        </slides>
        <prev></prev>
        <next></next>
        <pagination></pagination>
    </swiper>

    <div class="row">
        <div class="col-md-2" ng-repeat="s in mySlides">
            <a ng-href="{{s}}" rel="gal" fancybox>
                <img ng-src="{{s}}" class="img-full">
            </a>
        </div>
        <div class="col-md-2">
            <a class="various fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" fancybox><img ng-src="http://img.youtube.com/vi/L9szn1QQfas/maxresdefault.jpg" class="img-full"></a>
        </div>
    </div>
</div>-->
<!--<flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
    <li>
        <img ng-src="{{s}}" class="img-full">
    </li>
</flex-slider>-->
<section class="sliding_bg">
    <div class="mg_lft" scrolly>
        <!--scrolly is an angular directive for scrolling fn-->
        <!--mg_lft is used to push the swiper to right side when side nav is activated-->
        <div id="sidenav-overlay" style="opacity: 1; display: none;"></div>
        <swiper autoplay="5000" effect="slide" loop="true">
            <slides>
                <slide ng-repeat="image in bannerImageData track by $index">
                    <a href="{{image.url}}"><img ng-src="{{image.bannerImage | serverimage}}" class="img-responsive swiperbg" noloading="true"></a>
                </slide>
            </slides>
            <prev></prev>
            <next></next>
            <!--<pagination></pagination>-->
            <div class="bg_main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-push-2 jumbotron_middle">
                            <div class="jumbotron">
                                <!--<h2 class="text-center">They froze time to let pictures<br>
                                    <div class="text-right" style="padding-right: 50px;">Give away stories</div>
                                </h2>-->
                                <!--<div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for photographer">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--main-->
            <div id="scrollArea" class="scroll_down text-center" ng-click="goToElemment('middle')">
                <p>Scroll Down</p>
                <hr class="text-center">
            </div>
        </swiper>
    </div>
</section>
<!--flex slider for featured photographer-->
<section class="featu_photo_caraso">
    <div class="container">
        <div class="col-md-12">
            <div class="fp_padd_rl">
                <!--<h2>Featured</h2>-->
                <h2 class="head-f">Featured <br> &nbsp; Photographers</h2>
                <!--padding right & left-->
                <flex-slider slide="user in featrData track by $index" animation="slide" prev-text="" next-text="" item-margin="10" max-items="3"
                    item-width="250">
                    <!--ng-repeat="user in fpUser track by $index"-->
                    <li class="fp_width">
                        <div class="fp_innerPadd">
                            <!--inner padding for li-->
                            <img src="frontend/img/userback1.jpg" class="img-responsive" alt="">
                            <div class="fp_user_icn text-center">
                                <div class="border-half">
                                    <div class="user-img" style="background: url('{{user.profilePic | serverimage}}') no-repeat 50% 50%" ng-if="user.profilePic">
                                    </div>
                                    <img src="frontend/img/profile.png" class="img-responsive" alt="" ng-if="!user.profilePic">
                                    <!--<img ng-src="{{user.profilePic | serverimage}}" class="img-responsive" alt="" ng-if="user.profilePic">-->
                                </div>
                                <h3>{{user.name}} | {{user.location[0]}}</h3>
                                <p>Speciality: {{user.speciality[0].name}}</p>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-push-2 col-sm-8 col-sm-push-2 col-xs-8 col-xs-push-2 ">
                            <div class="view_prof_btn">
                                <button class="btn btn-danger btn-block" ui-sref="user-profile({userid:user._id})">View Profile</button>
                            </div>
                        </div>
                    </li>
                </flex-slider>
                <div class="col-md-2 col-md-push-5 col-sm-3 col-sm-push-5 col-sm-3 col-sm-push-5 col-xs-6 col-xs-push-3" id="middle">
                    <div class="fp_viewAll_btn">
                        <button class="btn btn-block" ui-sref="users">View All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of section flex slider for featured photographer-->
<!--photo contest-->
<section class="pht_contest">
    <div class="container">
        <div class="row">
            <div class="camera_img">
                <img src="frontend/img/cam.png" alt="Camera" class="img-responsive center-block" width="100" alt="">
            </div>
            <div class="col-md-6 col-md-push-3 col-sm-7 col-sm-push-3 col-xs-12 ">
                <div class="jumbotron">
                    <div class="ht100">
                        <h2><span> join the</span> <br>
                            <span>photo contest</span>
                        </h2>
                    </div>
                    <p class="text-center">and win exciting prizes </p>
                    <div class="col-md-5 col-md-push-3 col-sm-4 col-sm-push-3 col-xs-4 col-xs-push-4">
                        <div class="pht_contest_btn">
                            <!--<button class="btn btn-block" ui-sref="photo-contest">Click Here</button>-->
                            <button class="btn btn-block" style="pointer-events: none;">Go Live</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="compete_btn">
        <p>
            <a class="btn whit-btn " type="button" ui-sref="photo-contest"> COMPETE NOW</a>
        </p>
    </div>-->
</section>
<!--end of photo contest-->
<!--start of Categories section-->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="ht30">
                    <img src="frontend/img/clickm/6.png" class="imgwt doneLoading" alt="">
                    <h2>Categories</h2>
                </div>
            </div>
            <div class="all_cate">
                <div ng-repeat="catEl in bigImageCategory | limitTo:2 track by $index">
                    <div class=" col-md-12" ng-if="catEl">
                        <a ui-sref="wild-photographer({catid:catEl._id,catName:catEl.name})"><img ng-src="{{catEl.bigimage | serverimage}}" class="img-responsive" alt=""></a>
                        <!--<div class="img-section__text">
                        <h3>{{catEl[0].name}}</h3>
                    </div>-->
                    </div>
                    <div class=" col-md-6  col-xs-12 padd_rt" ng-if="smallCat[$index][0]">
                        <a ui-sref="wild-photographer({catid:smallCat[$index][0]._id,catName:smallCat[$index][0].name})"> <img ng-src="{{smallCat[$index][0].smallimage | serverimage}}" class="img-responsive" alt=""></a>
                        <!--<div class="img-section__text">
                        <h3>{{catEl[1].name}}</h3>
                    </div>-->
                    </div>
                    <div class=" col-md-6 padd_lt" ng-if="smallCat[$index][1]">
                        <a ui-sref="wild-photographer({catid:smallCat[$index][1]._id,catName:smallCat[$index][1].name})"> <img ng-src="{{smallCat[$index][1].smallimage | serverimage}}" class="img-responsive" alt=""></a>
                        <!--<div class="img-section__text">
                        <h3>{{catEl[2].name}}</h3>
                    </div>-->
                    </div>
                    <!--<div class=" col-md-12">
                    <a href="#"> <img src="frontend/img/cat5.jpg" class="img-responsive" alt=""></a>
                </div>-->
                </div>
            </div>
            <p class="text-center">
                <button class="btn" ui-sref="categories">View All</button>
            </p>
        </div>
</section>
<!--end of categories section-->
<!-- start of signup section-->
<!--<section class="signup" ng-if="!template.profile">-->
<section class="signup">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="img_relative">
                    <img src="frontend/img/cam1.png" class="img-responsive" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 mg">
                <div class="cam_heading">
                    <h2>Get
                        <h2>featured!</h2>
                    </h2>
                </div>
                <p>Become a Featured photographer on Clickmania and get your profile viewed by user across all categories. We
                    feature only 12 Photographers every month.</p>
                <!--<p class="text-right"><a class="btn orange-btn" type="button" ng-click="uploadSignup()">Sign up</a></p>-->
                <p class="text-right"><a class="btn orange-btn" type="button" ui-sref="feature-photographer">Know More</a></p>
                <div class="img_absolute">
                    <img src="frontend/img/cam2.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of signup section-->
<!-- start of Artist of the month section-->
<section class="atm">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <h2 class="head-f">Artist of <br> &nbsp the month</h2>
                <div class="bg_img">
                    <img src="frontend/img/atm0.jpg" class="img-responsive" alt="">
                    <!--<img src="{{ArtistOfMonth.image | serverimage}}" class="img-responsive" alt="">-->
                    <div class="user-ab">
                        <div class="border-half">
                            <div class="user-img" style="background: url('{{artistOfMonth.image | serverimage}}') no-repeat center center" ng-if="artistOfMonth.image">

                            </div>
                            <img src="frontend/img/profile.png" class="img-responsive profile-f-img" alt="" ng-if="!artistOfMonth.image">
                            <!--<img ng-src="{{artistOfMonth.image | serverimage}}" alt="" class="img-responsive profile-f-img doneLoading" ng-if="artistOfMonth.image">-->
                        </div>
                        <!--<div class="intro-profile">
                            <p class="name-loc ng-binding">Zaroon Jaffrani | Pune</p>
                            <p class="spec ng-binding">Speciality: wild life</p>
                        </div>-->
                    </div>
                    <img src="frontend/img/atm2.png" alt="" class="img-responsive abslt">
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <div class="user_info">
                    <h2>{{artistOfMonth.name}}</h2>
                    <h3>Speciality:{{specialityStr }}</h3>
                    <p ng-bind-html="artistOfMonth.content">{{artistOfMonth.content}}</p>
                    <p class="text-left"><a class="btn whit-btn" type="button" href="{{artistOfMonth.url}}" target="_blank"> Know More</a></p>
                </div>
            </div>
        </div>
</section>
<!-- end of Artist of the month section-->
<!--start of section testimonial-->
<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Testimonials</h2>
                <flex-slider slide="x in testimonial track by $index" animation="slide" slide-show="true" pause-on-hover="true" slideshow-speed="3000">
                    <li>
                        <div class="padd63">
                            <p>{{x.text}}</p>
                            <p class="text-right">{{x.ceo}}</p>
                        </div>
                    </li>
                </flex-slider>
                <img src="frontend/img/testi1.png" alt="" class="img-responsive abslt_lt">
                <img src="frontend/img/testi.png" alt="" class="img-responsive abslt_rt">
            </div>
        </div>
    </div>
</section>
<!--end of section testimonial-->