<section>
    <div class="contest mgtp80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="contest__title">
                        <div class="ht30">
                            <img src="frontend/img/clickm/6.png" class="imgwt doneLoading" alt="">
                            <h1 class="fith damionr ft100 text-capitalize">Join the<br><span>photo contest</span></h1>
                        </div>
                        <p>If winning for you is a breeze the best picture you have got to freeze </p>
                    </div>
                </div>
            </div>
            <ul class="contest__stp-btn text-center list-unstyled list-inline">
                <li id="tab1" ng-click="step = 1" ng-class="{'active': step == 1}">STEP 1</li>

                <li id="tab2" ng-click="step = 2" id="tab2" ng-class="{'active': step == 2}">STEP 2</li>

                <li id="tab3" ng-click="step = 3" id="tab3" ng-class="{'active': step == 3}">STEP 3</li>
            </ul>
            <div class="contest__stp1" ng-if="step == 1">
                <div class="col-md-6 col-sm-6 pad-right5">
                    <form name="loginForm">
                        <div class="signup-form">
                            <div class="row mr15 light-grey min-h">
                                <div class="col-md-12 text-center">
                                    <h1 class="damionr orange-color forml">Sign up</h1>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="text" class="form-control" id="name" placeholder="First Name" ng-model="formData.name" name="name" required><br>
                                    <span ng-show="loginForm.name.$touched && loginForm.name.$invalid">Please enter the name</span>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="email" class="form-control" id="email" placeholder="Email id" ng-model="formData.email" name="email" required><br>
                                    <span ng-show="loginForm.email.$touched && loginForm.email.$invalid">Please enter the proper email</span>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="password" class="form-control" id="pwd" placeholder="Password" ng-model="formData.password" name="passsword"
                                        required>
                                    <span ng-show="loginForm.passsword.$touched && loginForm.passsword.$invalid">Please enter password</span>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="password" class="form-control" id="pwd1" placeholder="Confirm Password" ng-model="ConfirmPassword" name="ConfirmPassword"
                                        required>
                                </div>
                                <div>
                                    <p ng-if="loginForm.ConfirmPassword.$touched && (formData.password !== ConfirmPassword)">check your password</p>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="checkbox text-left condition-box" ng-init="terms">
                                        <p>
                                            <input type="checkbox" id="test1" ng-model="terms">
                                            <label for="test1" class="tnc">I agree with the <span>Terms &amp; Conditions</span> and <span>Privacy Policy</span> </label>
                                        </p>
                                        <p class="alert-text"></p>
                                    </div>
                                </div>
                                <div class="col-xs-12 mr40 text-center">
                                    <button class="btn orange-btn" type="submit" ng-click="verifyAndSendSignUpEmail(formData,terms)">Sign up</button>
                                    <br>
                                    <hr class="border-hr text-center">
                                    <br>
                                    <a ui-sref="users" class="btn btn-social facek">
                                        <span class="fa fa-facebook fspan"></span> Sign up with Facebook
                                    </a>
                                    <a ui-sref="users" class="btn btn-social google-back">
                                        <span class="fa fa-google-plus googlespan"></span> Sign up with Google+
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-6 col-sm-6 pad-right5">
                    <form>
                        <div class="login-form">
                            <div class="row mr15 light-grey min-h">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <h1 class="damionr orange-color forml">Login</h1>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="email" class="form-control" id="emailId" placeholder="Email id" ng-model="formdata.email" required>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="password" class="form-control" id="passwrd" placeholder="Password" ng-model="formdata.password" required><br>
                                    <a class="flink" ng-click="changePwd();"> Forgot Password?</a>
                                </div>
                                <div class="col-xs-12 mr40 text-center">
                                    <button class="btn orange-btn" type="button" ng-click="login(formdata)"> Login</button>
                                    <br>
                                    <hr class="border-hr text-center">
                                    <br>
                                    <a ui-sref="users" class="btn btn-social facek">
                                        <span class="fa fa-facebook fspan"></span> Login with Facebook
                                    </a>
                                    <a ui-sref="users" class="btn btn-social google-back">
                                        <span class="fa fa-google-plus googlespan"></span> Login with Google+
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="contest__stp2" ng-if="step == 2">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="contest__stp2--box-shd">
                            <div class="contest__stp2__txt">
                                <h4>3 photos </h4>
                                <h4>@</h4>
                                <h4><i class="fa fa-inr"></i> 500</h4>
                            </div>
                        </div>
                        <p><button class="btn orange-btn">Buy</button></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12  text-center">
                        <div class="contest__stp2--box-shd">
                            <div class="contest__stp2__txt">
                                <h4>6 photos </h4>
                                <h4>@</h4>
                                <h4><i class="fa fa-inr"></i> 1000</h4>

                            </div>
                        </div>
                        <p><button class="btn orange-btn">Buy</button></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12  text-center">
                        <div class="contest__stp2--box-shd">
                            <div class="contest__stp2__txt">
                                <h4>9 photos </h4>
                                <h4>@</h4>
                                <h4><i class="fa fa-inr"></i> 1500</h4>
                            </div>
                        </div>
                        <p><button class="btn orange-btn">Buy</button></p>
                    </div>
                </div>
                <div class="contest__stp2__terms">
                    <h1>Terms and conditions</h1>
                    <ul>
                        <li>Only 3 photos will be considered</li>
                        <li>Size of each photo shouldn’t exceed 500KB</li>
                        <li>Any user can join the contest, you needn’t be a registered member</li>
                        <li>Entry will be considered only after full payment is received</li>
                    </ul>
                    <div class="custom-check">
                        <input type="checkbox" name="terms" id="terms">
                        <label for="terms">I agree to the terms and conditions</label>
                    </div>
                    <p><button class="btn orange-btn">Proceed to Pay</button></p>
                </div>

            </div>
            <div class="contest__stp3" ng-if="step == 3">
                <div class="row" ng-repeat="package in packageChunk">
                    <div class="col-md-4 col-sm-4 col-xs-12  text-center" ng-repeat="images in package">
                        <div class="contest__stp3--box-shd" style="background: url('') no-repeat center center">
                            <div class="contest__stp3__txt">
                                <img ng-if="!photos[images]" src="frontend/img/competition/5.png" alt="Click To Add Image" class="img-responsive center-block"
                                    ng-click="uploadImg();"><br>
                                <img ng-if="photos[images]" ng-src="{{photos[images] | serverimage}}" class="img-responsive center-block"><br>
                                <h3 ng-if="!photos[images]">Upload Photos</h3>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="submit-btn">
                    <p class="text-center"><button class="btn orange-btn" ng-click="uploadContestPhotos()">Submit</button></p>
                </div>
            </div>
        </div>
    </div>
</section>