<section>
    <div class="contest mgtp80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="contest__title">
                        <div class="ht30">
                            <img src="frontend/img/clickm/6.png" class="imgwt doneLoading" alt="">
                            <h1 class="fith damionr ft100 text-capitalize">Join the<br><span>Online photo contest</span></h1>
                        </div>
                        <p>If winning for you is a breeze the best picture you have got to freeze </p>
                    </div>
                </div>
            </div>
            <ul class="contest__stp-btn text-center list-unstyled list-inline">
                <div class="inline-block">
                    <div ng-class="{'disabled': isLoggedIn !=null}">
                        <li id="tab1" ng-click="step = 1" ng-class="{'active': step == 1}">STEP 1</li>
                    </div>
                </div>
                <div class="inline-block">
                    <div ng-class="{'disabled': isLoggedIn ==null}">
                        <li id="tab2" ng-click="step = 2" id="tab2" ng-class="{'active': step == 2}">STEP 2</li>
                    </div>
                </div>
                <div class="inline-block">
                    <div ng-class="{'disabled': isLoggedIn ==null}">
                        <li id="tab3" id="tab3" ng-class="{'active': step == 3}">STEP 3</li>
                    </div>
                </div>
            </ul>
            <div class="contest__stp1" ng-if="step == 1">
                <div class="col-md-6 col-sm-6 pad-right5">
                    <form name="loginForm">
                        <div class="signup-form">
                            <div class="row mr15 light-grey min-h">
                                <div class="col-md-12 text-center">
                                    <h1 class="damionr orange-color forml">Sign up</h1>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="text" class="form-control" id="name" placeholder="First Name" ng-model="formData.name" name="name" required><br>
                                    <span ng-show="loginForm.name.$touched && loginForm.name.$invalid">Please enter the name</span>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="email" class="form-control" id="email" placeholder="Email id" ng-model="formData.email" name="email" required><br>
                                    <span ng-show="loginForm.email.$touched && loginForm.email.$invalid">Please enter the proper email</span>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="password" class="form-control" id="pwd" placeholder="Password" ng-model="formData.password" name="passsword"
                                        required>
                                    <span ng-show="loginForm.passsword.$touched && loginForm.passsword.$invalid">Please enter password</span>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="password" class="form-control" id="pwd1" placeholder="Confirm Password" ng-model="formData.ConfirmPassword"
                                        name="ConfirmPassword" required>
                                </div>
                                <div>
                                    <p ng-if="loginForm.ConfirmPassword.$touched && (formData.password !== ConfirmPassword)">check your password</p>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="checkbox text-left condition-box" ng-init="terms">
                                        <p>
                                            <input type="checkbox" id="test1" ng-model="terms">
                                            <label for="test1" class="tnc">I agree with the <span>Terms &amp; Conditions</span> and <span>Privacy Policy</span> </label>
                                        </p>
                                        <p class="alert-text"></p>
                                    </div>
                                </div>
                                <div class="col-xs-12 mr40 text-center">
                                    <button class="btn orange-btn" type="submit" ng-click="verifyAndSendSignUpEmail(formData,terms)">Sign up</button>
                                    <br>
                                    <hr class="border-hr text-center">
                                    <br>
                                    <a ui-sref="users" class="btn btn-social facek">
                                        <span class="fa fa-facebook fspan"></span> Sign up with Facebook
                                    </a>
                                    <a ui-sref="users" class="btn btn-social google-back">
                                        <span class="fa fa-google-plus googlespan"></span> Sign up with Google+
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-6 col-sm-6 pad-right5">
                    <form>
                        <div class="login-form">
                            <div class="row mr15 light-grey min-h">
                                <div class="col-md-12 col-sm-12 text-center">
                                    <h1 class="damionr orange-color forml">Login</h1>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="email" class="form-control" id="emailId" placeholder="Email id" ng-model="formdata.email" required>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input type="password" class="form-control" id="passwrd" placeholder="Password" ng-model="formdata.password" required><br>
                                    <a class="flink" ng-click="changePwd();"> Forgot Password?</a>
                                </div>
                                <div class="col-xs-12 mr40 text-center">
                                    <button class="btn orange-btn" type="button" ng-click="login(formdata)"> Login</button>
                                    <br>
                                    <hr class="border-hr text-center">
                                    <br>
                                    <a ui-sref="users" class="btn btn-social facek">
                                        <span class="fa fa-facebook fspan"></span> Login with Facebook
                                    </a>
                                    <a ui-sref="users" class="btn btn-social google-back">
                                        <span class="fa fa-google-plus googlespan"></span> Login with Google+
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="contest__stp2" ng-if="step == 2">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                        <div class="contest__stp2--box-shd">
                            <div class="contest__stp2__txt">
                                <h4>3 photos </h4>
                                <h4>@</h4>
                                <h4><i class="fa fa-inr"></i> {{ThreePhotos}}</h4>
                            </div>
                        </div>
                        <p><button class="btn orange-btn" ng-click="showNext(3)" ng-disabled="accept!=true">Submit photos</button></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12  text-center">
                        <div class="contest__stp2--box-shd">
                            <div class="contest__stp2__txt">
                                <h4>6 photos </h4>
                                <h4>@</h4>
                                <h4><i class="fa fa-inr"></i> {{sixPhotos}}</h4>

                            </div>
                        </div>
                        <p><button class="btn orange-btn" ng-click="showNext(6)" ng-disabled="accept!=true">Submit photos</button></p>
                    </div>
                    <!--<div class="col-md-4 col-sm-4 col-xs-12  text-center">
                        <div class="contest__stp2--box-shd">
                            <div class="contest__stp2__txt">
                                <h4>9 photos </h4>
                                <h4>@</h4>
                                <h4><i class="fa fa-inr"></i> 1500</h4>
                            </div>
                        </div>
                        <p><button class="btn orange-btn" ng-click="PackageUpdateForNine()" ng-disabled="accept!=true">Buy</button></p>
                    </div>-->
                </div>
                <div class="contest__stp2__terms">
                    <h1>Terms and conditions</h1>
                    <ul>

                        <li>Size of each photo should not exceed 500KB</li>
                        <li>Entry will be considered only after participation fee is received.</li>
                        <li>judges decision will be final</li>
                        <li>All other <a ui-sref="terms"> terms and conditions</a>shall apply.</li>

                    </ul>
                    <div class="custom-check">
                        <input type="checkbox" name="terms" id="terms" ng-model="accept">
                        <label for="terms">I agree to the terms and conditions</label>
                    </div>
                    <!--<p><button class="btn orange-btn">Proceed to Pay</button></p>-->
                </div>

            </div>
            <div class="row">
                <div ng-if="step == 3">
                    <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1 pad-right5">
                        <form name="bill" class="feature-photo">
                            <div class="signup-form">
                                <div class="row mr15 light-grey side-margin">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <h1 class="damionr orange-color forml">Bill To / Service To Address</h1>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" class="form-control" placeholder="First Name" ng-model="formData.fname" name="firstname" required><br>
                                        <span ng-show="bill.firstname.$touched && bill.firstname.$invalid">Please enter your first name</span>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" class="form-control" id="lastname" placeholder="Last Name" ng-model="formData.lname" name="lastname" required><br>
                                        <span ng-show="bill.lastname.$touched && bill.lastname.$invalid">Please enter your last name</span>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <input type="text" class="form-control" id="address" placeholder="Address" ng-model="formData.address" name="address" required><br>
                                        <span ng-show="bill.address.$touched && bill.address.$invalid">Please enter your address</span>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" class="form-control" id="india" placeholder="India" ng-model="formData.country" name="india" value="India"
                                            readonly><br>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <select class="form-control placeholder select-class" id="state" ng-model="formData.state" name="state" required><option value="" hidden>State</option><option value="{{state}}" ng-repeat="state in states">{{state}}</option></select><br>
                                        <span ng-show="bill.state.$touched && bill.state.$invalid">Please select your State</span>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="select" class="form-control" id="city" placeholder="City" ng-model="formData.city" name="city" required><br>
                                        <span ng-show="bill.city.$touched && bill.city.$invalid">Please enter your City</span>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="number" class="form-control" id="pin" placeholder="Pincode" ng-model="formData.pin" name="pin" required><br>
                                        <span ng-show="bill.pin.$touched && bill.pin.$invalid">Please enter your pin-code</span>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="orange-color">GST Registered</h5>
                                            </div>
                                            <div class="col-md-6 margin-top text-right">
                                                <div class="radio-class">
                                                    <input type="radio" id="test1" name="radio-group">
                                                    <label ng-click="rc='yes'" class="margin-right" for="test1">Yes</label>
                                                    <input type="radio" id="test2" name="radio-group" ng-checked="true">
                                                    <label ng-click="rc='no'" ng-init="rc='no'" for="test2">No</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" class="form-control bottom" id="gst" placeholder="GST Number" ng-disabled="rc=='no'" ng-model="formData.GSTNumber"
                                            name="gst"><br>
                                    </div>
                                    <div class="col-xs-12 mr40 text-center">
                                        <button class="btn orange-btn" type="submit" ng-click="gstPayment(formData)" ng-disabled="!bill.$valid">Proceed to Pay</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>