<section>
    <div class="privacy-policy">
        <div class="privacy-policy__bg-img">
            <img src="frontend/img/Privacy-Policy.jpg" alt="Privacy-Policy" class="img-responsive">
        </div>
        <div class="container">
            <div class="privacy-policy__desc">
                <h5>Privacy Policy for visitors in the website and for the Photographers:</h5>
                <ul class="list-group">
                    <li class="list-group-item dot">I agree not to make any unauthorized usage/ distribution of the email ids / contact numbers or any other
                        details which I may obtain in the course of interaction between the photographers and the end users.
                    </li>
                    <li class="list-group-item dot">I will not do any unauthorized copy / download / distribution of the photos from the website.
                    </li>
                    <li class="list-group-item dot">I will not upload any photo in the site which may be constituted as breach of privacy of the persons
                        photographed or any details of any property belonging to them.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>