<section>
    <div class="terms-condition">
        <div class="terms-condition__bg-img">
            <img src="frontend/img/terms.jpg" alt="terms" class="img-responsive">
        </div>
        <div class="container">
            <div class="terms-condition__desc">
                <h5> Terms and Conditions for Photographers:</h5>
                <ol class="list-group">
                    <li class="list-group-item number">Clickmania is a trademark owned by the shareholder director of the company named Clickmania (OPC) Private
                        Limited (Henceforth,referred as Clickmania) registered under the Companies Act 2013. Any unauthorized
                        usage of the name or the logo by any other person or entity is prohibited without written permission.
                    </li>
                    <li class="list-group-item number">An individual /group of individuals / any other entity or organization can become a member of Clickmania
                        web portal.
                    </li>
                    <li class="list-group-item number"> There will be only one membership allotted to one email id subject to fulfillment of the payment required
                        as may be determined by Clickmania.

                    </li>
                    <li class="list-group-item number">Adding or upgrading of members for free, which is otherwise payable, is a discretion of the Clickmania
                        management.
                    </li>
                    <li class="list-group-item number">The member can upload photographs subject to the size and count limitations stipulated by Clickmania
                        from time to time.
                    </li>

                    <li class="list-group-item number">In case of multiple locations entered by the photographer, the first location will be deemed to be the
                        default location for any direct / indirect tax purposes and the user has to comply with the tax laws
                        of the respective jurisdiction. In case of any change in the default location, the member will be
                        responsible to update the profile information and the the first location entered will be the default
                        location.

                    </li>
                    <li class="list-group-item number"> The member uploading the photographs must be holding the copyright and /or any other intellectual property
                        rights to the photographs uploaded. Clickmania will not be responsible for any copyright and/ or
                        other intellectual property rights violation. Clickmania or its shareholders or office bearers will
                        not be made party to any legal dispute for any alleged or actual copyright /intellectual property
                        rights violation by any member.
                    </li>
                    <li class="list-group-item number"> In case of non-individual members uploading photographs in Clickmania, the uploader must act as authorized
                        representative of the group or the organization. Clickmania will not be responsible for any unauthorized
                        upload.
                    </li>
                    <li class="list-group-item number">There is no restriction on uploading photographs previously or subsequently published in social /electronic
                        / print media subject to copyright and other intellectual property rights not being violated. Clickmania
                        will not be responsible for any copyright and/ or other intellectual property rights violation. If
                        the member sells or gives away the copyright to another person /entity, subsequent to the photograph
                        being uploaded in Clickmania, then it will be the member's responsibility to remove the photograph
                        forthwith from the Clickmania portal.</li>
                    <li class="list-group-item number"> Any photograph considered by the Clicmania administration as abusive/ vulgar / politically motivated
                        is subject to deletion by the administration of the company. Repeated offence may lead to suspension
                        / deletion of membership.
                    </li>
                    <li class="list-group-item number"> The photographs submitted can contain watermarks and logos but the watermarks cannot contain phone numbers,
                        email id, social media addresses and website address on the photograph. The end user can directly
                        communicate with the photographer through the Clickmania portal. The text entered by the member can
                        contain a brief description about the member and his/her work, but it cannot contain any phone numbers,
                        email id, social media addresses or website addresses that are visible to the end user. Such information
                        can only be mentioned in the respective sections of the profile updates.</li>
                    <li class="list-group-item number"> If any member is found to be using the site for any illegal or immoral activity, then the membership
                        will be canceled and the fee for the remaining period will be forfeited. </li>
                    <li class="list-group-item number">Once the potential client contacts the photographer, Clickmania does not interfere in the agreement between
                        the client and the photographer. Clickmania does not charge any commission for the deal, from the
                        client or the photographer.

                    </li>
                    <li class="list-group-item number"> A free or a silver member can upgrade the membership, by making a payment as may be mentioned on the
                        site. Once upgraded, there is no downgrade option till the expiry of the remaining duration of membership.
                        In the event of non renewal after expiry, it will be downgraded to a free membership.
                    </li>
                    <li class="list-group-item number">Violation of any of the terms and conditions may lead to removal of photographs, temporary suspension
                        or permanent deletion of the membership by Clickmania, without any refund being made.
                    </li>
                    <li class="list-group-item number">In case of membership being cancelled or forfeited for violation of any of the terms and conditions,
                        there will be no refund made.</li>
                    <li class="list-group-item number"> In case of any excess payment, a claim has to be submitted to admin@clickmania.in with the subject line
                        "Excess Payment refund claim" with proof and references. On verification of the claim, if it is found
                        genuine and justified, Clickmania will issue a refund (without interest) to the same card / e-wallet
                        /bank account from where the excess payment was made. Please note that, no refund will be issued
                        for any downgrade membership request</li>
                    <li class="list-group-item number">Clickmania does not take ownership of the authenticity of the photographers. The users are advised to
                        scrutinize before finalizing any assignment with the photographer.</li>
                    <li class="list-group-item number">The price range quoted by the photographer is an estimate and may vary on the basis of duration and complexity
                        of the assignment. Clickmania is not responsible for any variation in prices charged by the photographers.
                        The users are advised to scrutinize and negotiate the price and other assignment details directly
                        with the photographer.</li>
                    <li class="list-group-item number"> Any legal dispute between Clickmania and the other party shall be settled within the jurisdiction of
                        the Indian courts </li>
                </ol>

                <ol class="list-group">
                    <h5> Including all of the above Terms and Conditions, the additional Terms and Conditions for the Photo Contest
                        will be:</h5>
                    <li class="list-group-item number">The photo contest is only open to persons having valid bank account in India.
                    </li>
                    <li class="list-group-item number">The winners will be communicated in the same email address that is provided at the time of submission
                        of the photos.</li>
                    <li class="list-group-item number">Winners will have to provide the account holder name, Bank name, Branch name and IFSC code of the bank
                        within 7 days from receiving the mail using the same email id. Payment will be made after deducting
                        TDS (if applicable).Before the winners are officially declared and/or payment is made, if demanded
                        by Clickmania, the winners will have to provide the Camera RAW files by cloud sharing. (JPG, PNG
                        etc will not be accepted as camera RAW). Clickmania will not use the RAW files for any other purpose
                        except as an additional measure of safety against photo submissions by fraudulent means.</li>
                    <li class="list-group-item number">The contest is not open to Clickmania officials or their relatives, the panel of judges or their relatives.
                        The term relatives will be considered to be same as defined in the the Income Tax Act in India and
                        the Companies Act in India.</li>
                    <li class="list-group-item number">The submissions will be evaluated by a panel of judges and their judgment will be final.</li>
                    <li class="list-group-item number">By submitting the photos, the participant declares that the photos are clicked by the participant and
                        the participant is not an official of Clickmania, a judge for the contest or a relative of the said
                        persons. Any violation will be solely and entirely the liability of the participant.
                    </li>
                    <li class="list-group-item number">By submitting the photos the participant agrees that any violation of copyright or any other Intellectual
                        property right is the sole responsibility of the participant.</li>
                    <li class="list-group-item number">If any other person claims to have clicked the photo(s) submitted or claims to be owning the copyright
                        or any other intellectual property rights, then the claimant will have legal recourse available against
                        the participant and the participant will be solely and entirely liable to settle to issue in the
                        court of law or outside with the claimant. Clickmania or the panel of judges for the photo contest
                        do not take any ownership to verify the submissions by the participants.
                    </li>
                    <li class="list-group-item number">Any subsequent discovery of any violation of any of the terms and conditions will result into stripping
                        the award and the participant will be liable to pay the full money back to Clickmania along with
                        the TDS deducted by Clickmania.</li>
                </ol>
                <div class="custom-check">
                    <input type="checkbox" name="terms" id="terms">
                    <label for="terms">I agree to the terms and conditions</label>
                </div>
            </div>
        </div>
    </div>
</section>