<section>
    <div class="terms-condition">
        <div class="terms-condition__bg-img">
            <img src="frontend/img/terms.jpg" alt="terms" class="img-responsive">
        </div>
        <div class="container">
            <div class="terms-condition__desc">
                <h5> Terms and Conditions for Photographers:</h5>
                <ol class="list-group">
                    <li class="list-group-item number">Clcikmania is a trademark owned by the shareholder director of the company named Clcikmania (OPC) Private
                        Limited (Henceforth referred as Clickmania registered under the Companies Act 2013. Any unauthorized
                        usage of the name or the logo by any other person or entity is prohibited without written permission.
                    </li>
                    <li class="list-group-item number"> An individual /group of individuals / any other entity or organization can become a member of Clickmania
                        web portal.
                    </li>
                    <li class="list-group-item number"> There will be only one membership allotted to one email id subject to fulfillment of the payment required
                        as may be determined by Clcikmania.

                    </li>
                    <li class="list-group-item number"> Adding or upgrading members for free, which is otherwise payable, is a discretion of the Clickmania management.
                    </li>
                    <li class="list-group-item number">The member can upload photos subject to the size and count limitations stipulated by Clickmania from
                        time to time.
                    </li>

                    <li class="list-group-item number"> In case of multiple locations entered by the photographer, the first location will be deemed to be the
                        default location for any direct / indirect tax purposes and the user has to comply with the tax laws
                        of the respective jurisdiction. In case of any change in the default location, the member will be
                        responsible to update the profile information and the the first location entered will be the default
                        location.
                    </li>
                    <li class="list-group-item number"> The member uploading the photos must be holding the copyright and /or any other intellectual property
                        rights to the photographs uploaded. Clickmania will not be responsible for any copyright and/ or
                        other intellectual property rights violation. Clickmania or its shareholders or office bearers will
                        not be made party to any legal dispute for any alleged or actual copyright /intellectual property
                        rights violation by any member.
                    </li>
                    <li class="list-group-item number"> In case of non-individual members uploading photographs in Clickmania, the uploader must act as authorized
                        representative of the group or the organization. Clickmania will not be responsible for any unauthorized
                        upload.
                    </li>
                    <li class="list-group-item number"> There is no restriction on uploading photographs previously or subsequently published in social /electronic
                        / print media subject to copyright and other intellectual property rights not being violated. Clickmania
                        will not be responsible for any copyright and/ or other intellectual property rights violation. If
                        the member sells or gives away the copyright to another person /entity, subsequent to the photo being
                        uploaded in Clickmania, then it will be the member's responsibility to remove the photo forthwith
                        from the Clickmania portal.</li>
                    <li class="list-group-item number"> Any photograph considered by the Clicmania administration as abusive/ vulgar / politically motivated
                        is subject to deletion by the administration of the company. Repeated offence may lead to Suspension
                        / Deletion of membership.</li>
                    <li class="list-group-item number"> The photos submitted can contain watermarks and logos but the watermarks cannot contain phone numbers,
                        email id, social media addresses and website address on the photograph. The end user can directly
                        communicate the photographer through the Clickmania portal. The text entered by the member can contain
                        a brief description about the member and his/her work, but it cannot contain any phone numbers, email
                        id, social media addresses and website address visible to the end user. Such information can only
                        be updated in the respective sections of the profile updates..</li>
                    <li class="list-group-item number"> If any member is found to be using the site for a ny illegal or immoral activity, then the membership
                        will be canceled and the fee for the remaining perio will be forfeited. </li>
                    <li class="list-group-item number">Once the potential client contacts the photographer, Clickmania does not interfere in the agreement between
                        the client and the photographer. Clickmania does not charge any commission for the deal from the
                        client or the photographer.
                    </li>
                    <li class="list-group-item number"> Any legal dispute between Clickmania and the other party shall be settled within the jurisdiction of
                        the Indian courts </li>
                </ol>
            </div>
        </div>
    </div>
</section>