<div class="thanks-virtual-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3 col-sm-12">
                <div class="thanks-title">
                    <div class="ht30">
                        <h1 class="fith damionr text-capitalize">Thank<span>You</span></h1>
                    </div>
                    <p>Your payment has been processed and images you selected are now ready for download.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2 img-download-area">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center" ng-repeat="photo in downloadPhoto">
                        <div class="user-exception-uploaded shadow" style="background: url('{{photo.image|serverimage}}') no-repeat 50% 50%/cover ">
                            <!--<img ng-src={{photo.image|serverimage}} alt="" class="img-responsive">-->
                        </div>
                        <p>Image ID: {{photo._id|limitTo:-5}}</p>
                        <p><a class="btn orange-btn" role="button" href={{photo.image|serverimage}} download>Download</a></p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center">
            <a class="btn orange-btn user-action-one" role="button" ui-sref="photographer">Continue to Account</a>
            <a class="btn orange-btn user-action-two" role="button" ui-sref="home">Continue to Homepage</a>
        </p>
    </div>
</div>