<div class="thanks-virtual-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3 col-sm-12">
                <div class="thanks-title">
                    <div class="ht30">
                        <h1 class="fith damionr text-capitalize">Thank<span>You</span></h1>
                    </div>
                    <p>Your payment has been processed and images you selected are now ready for download.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2 img-download-area">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                        <div class="user-exception-uploaded shadow">
                            <img src="frontend/img/photographer/Clicked 2.jpg" alt="" class="img-responsive">
                        </div>
                        <p>Image ID: 5464464446</p>
                        <p><a class="btn orange-btn" role="button">Download</a></p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center">
            <a class="btn orange-btn user-action-one" role="button">Continue to Account</a>
            <a class="btn orange-btn user-action-two" role="button">Continue to Homepage</a>
        </p>
    </div>
</div>