<section>
    <div class="thanks-gold mgtp80">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="thanks-title">
                        <div class="ht30">
                            <img src="frontend/img/clickm/6.png" class="imgwt" alt="">
                            <h1 class="fith damionr text-capitalize">Thank<span>You</span></h1>
                        </div>
                        <p>Congratulations! Your payment has been processed. You have now been upgraded to a Gold Member.
                        </p>
                    </div>

                    <div class="cam-img">
                        <img src="frontend/img/camera.png" class="img-responsive" alt="camera">
                    </div>
                    <p class="text-center"><button class="btn orange-btn" ui-sref="photographer"> Back to Your Profile</button></p>
                </div>
            </div>
        </div>
    </div>
</section>