<section class="upload-request">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-area">
                    <div class="widget-title d-flex align-items-center">
                        <h3>List of photographers<span class="tableTotal">(Total : 21 )</span></h3>
                        <div class="search-area d-flex">
                            <form name="Search" nonvalidate ng-submit="sendUploadRequest()">
                                <div class="search-box">
                                    <input type="text " class="form-control" ng-change="getAllItems(true) " placeholder="Search Here...
                        ">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="upload-photo-table table">
                            <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>Photographer Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        sddsfs
                                    </td>
                                    <td>
                                        Siddhesh
                                    </td>
                                    <td>
                                        <a class="btn orange-btn" role="button">Accept</a>
                                        <a class="btn orange-btn" role="button">Decline</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>