<section class="virtual-gallery-main">
    <img src="frontend/img/Virtual-gallery-main.jpg" class="img-responsive" alt="">
    <div class="container">
        <div class="gallery-search-main-section d-flex align-items-center justify-content-center">
            <div class="search-section-one">
                search
            </div>
            <div class="search-section-two">
                <div class="gallery-search-bar">
                    <form action="" name="virtualGalleryForm" nonvalidate>
                        <div class="input-group">
                            <input type="search" class="form-control" id="search">
                            <span class="input-group-addon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        </div>
                    </form>
                </div>
                <div class="gallerysearch-dropdown">
                    <div class="dropdown">
                        <button class="btn orange-btn btn-block dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search-section-three">
                OR
            </div>
            <div class="search-section-section-four">
                <div class="gallery-upload-btn">
                    <a class="btn orange-btn">Upload a Photograph</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <ui-select ng-model="item.selected " on-select="addFilterValue(item.selected, 'category') ">
        <ui-select-match placeholder="Photographer ">
            <span ng-bind="$select.selected.name "></span>
        </ui-select-match>
        <ui-select-choices repeat="item in (catSearchBar | filter: $select.search) track by item._id ">
            <span ng-bind="item.name "></span>
        </ui-select-choices>
    </ui-select> -->
</section>