<section class="virtual-gallery-inner">
    <div class="container">
        <div class="user-profile-section d-flex align-items-center">
            <div class="user-uploaded-img shadow">
                <img src="frontend/img/photographer/Clicked 2.jpg" class="img-responsive" alt="User Uploaded Image">
            </div>
            <div class="user-profile">
                <div class="border-half">
                    <div class="user-profile-img">
                        <img src="http://clickmania.in/api/upload/readFile?file=5958ac6e7ecd665d3c727859.jpg" alt="Photographer Image" class="img-responsive">
                    </div>
                </div>
                <div class="user-profile-info">
                    <h3 class="text-uppercase">Prajakta kamble</h3>
                    <ul class="list-unstyled">
                        <li class="d-flex">Category:
                            <div class="text-uppercase category">wildlife</div>
                        </li>
                        <li class="d-flex">Size:
                            <div class="image-size text-capitalize">large</div>
                            <div class="img-dimension">600px x 4000px @300 dpi</div>
                            <div class="image-format text-uppercase">jpeg</div>
                            <!-- <ul class="list-unstyled list-inline">
                                <li>large</li>
                                <li>600px x 4000px @300 dpi</li>
                                <li>jpeg</li>
                            </ul> -->
                        </li>
                        <li class="d-flex">Image Id:
                            <div class="img-id">545454</div>
                        </li>
                    </ul>
                    <p><a class="btn btn-lg orange-btn" role="button">Download</a></p>
                </div>
            </div>
        </div>
        <div class="user-exception-photographs">
            <h4>Similar photographs</h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="user-exception-uploaded shadow">
                        <img src="frontend/img/photographer/Clicked 2.jpg" class="img-responsive" alt="User Uploaded Image">
                    </div>
                </div>
            </div>
            <div class="viewmore-btn-area text-center">
                <a class="btn btn-lg orange-btn" role="button">View More</a>
            </div>
        </div>
    </div>
</section>