<section class="virtual-gallery-main">
    <img src="frontend/img/Virtual-gallery-main.png" class="img-responsive" alt="">
    <div class="container">
        <div class="gallery-search-main-section d-flex align-items-center justify-content-center">
            <div class="search-section-one">
                Search
            </div>
            <div class="search-section-two">
                <div class="gallery-search-bar">
                    <form action="" name="virtualGalleryForm" nonvalidate>
                        <div class="input-group">
                            <input type="search" class="form-control" id="search" placeholder="Type in a Keyword" maxlength="50">
                            <span class="input-group-addon search-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        </div>
                    </form>
                </div>
                <div class="gallerysearch-dropdown">
                    <ui-select ng-model="cat.category1" on-select="addImages(cat.category1)" style="width: 200px;" title="Select Category">
                        <ui-select-match placeholder="Select Category">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <!--<ui-select-match placeholder="Select Category">{{cat.name}}</ui-select-match>-->
                        <ui-select-choices repeat="cat in category">
                            <span ng-bind-html="cat.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="search-section-three">
                OR
            </div>
            <div class="search-section-section-four">
                <div class="gallery-upload-btn">
                    <a class="btn orange-btn" role="button" ng-click="uploadImg(); ">Upload a Photograph</a>
                </div>
            </div>
        </div>

        <!--Uploaded photograph section-->
        <div class="uploaded-photographs-section">
            <div class="row">
                <div ng-repeat="gallery in virtualGallery track by $index" class="col-md-3 col-sm-6 col-xs-12">
                    <div class="user-exception-uploaded shadow">
                        <a ui-sref="virtual-gallery-inner({id:gallery._id})" class="d-block user-exception-img" style="width:100%;min-height:inherit;background: url('{{gallery.image | serverimage}}') no-repeat 50% 50%/cover ">
                            <!-- <img ng-src="{{gallery.image | serverimage}}" class="img-responsive" alt="Uploaded Photograph"> -->
                        </a>
                        <a class="d-flex align-items-center justify-content-center cart-area" ng-if="gallery.myCart">
                            <img src="frontend/img/cart-logo.png " alt="Add to cart" class="img-responsive" width="20" title="Click to add cart">
                        </a>
                        <a class=" cart-added-box d-flex align-items-center" ng-click="mycart(gallery);" ng-if="!gallery.myCart">
                            <img src="frontend/img/cart-logo1.png " alt="Add to cart" class="img-responsive" width="20" title="Click to add cart">
                            <div>Add to Cart</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="viewmore-btn-area text-center">
                <a class="btn orange-btn" role="button">View More</a>
            </div>
        </div>
    </div>
    <!-- <ui-select ng-model="item.selected " on-select="addFilterValue(item.selected, 'category') ">
        <ui-select-match placeholder="Photographer ">
            <span ng-bind="$select.selected.name "></span>
        </ui-select-match>
        <ui-select-choices repeat="item in (catSearchBar | filter: $select.search) track by item._id ">
            <span ng-bind="item.name "></span>
        </ui-select-choices>
    </ui-select> -->
</section>