<div class="container-fluid pad0 mg_t75">

    <img ng-src="{{categoryInsideImg.insideImage | serverimage}}" alt="" class="img-full img-responsive">
</div>
<div class="black-back">
    <div class="container">
        <div class="f-photo-div">
            <h2 class="head-f white-color">Featured <br> &nbsp;&nbsp;Photographers</h2>
            <div class="row pad-up100">
                <div class="black-custom-slider">
                    <flex-slider slide="user in featrData track by $index" animation="slide" prev-text="" next-text="" item-margin="10" max-items="4"
                        item-width="200">
                        <li>
                            <div class="thumbnail shadow">
                                <img src="frontend/img/userback1.jpg" alt="...">
                                <div class="user-ab">
                                    <div class="border-half">
                                        <div class="user-img" style="background: url('{{user.profilePic | serverimage}}') no-repeat 50% 50%" ng-if="user.profilePic">
                                        </div>
                                        <img src="frontend/img/profile.png" class="img-responsive profile-f-img" alt="" ng-if="!user.profilePic">
                                        <!--<img ng-src="{{user.profilePic | serverimage}}" alt="" class="img-responsive profile-f-img " ng-if="user.profilePic">-->
                                    </div>
                                    <div class="intro-profile">
                                        <p class="name-loc text-capitalize">{{user.name}} | {{user.location[0]}} </p>
                                        <p class="spec text-capitalize">Speciality: {{user.speciality[0].name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a ui-sref="user-profile({userid:user._id})" class="btn orange-btn" role="button">View Profile</a>
                            </div>
                        </li>
                    </flex-slider>
                </div>
                <!--<div class="col-sm-4 col-md-3 pad5" ng-repeat="user in featrData">
                    <div class="thumbnail shadow">
                        <img src="frontend/img/fp_bg1.png" alt="...">
                        <div class="user-ab">
                            <div class="border-half">
                                <img ng-src="{{user.profilePic | serverimage}}" alt="" class="img-responsive profile-f-img doneLoading">
                            </div>
                            <div class="intro-profile">
                                <p class="name-loc text-capitalize">{{user.name}} | {{user.location[0]}} </p>
                                <p class="spec text-capitalize">Speciality: {{user.speciality[0].name}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a ui-sref="user-profile({userid:user._id})" class="btn whit-btn" role="button">View Profile</a>
                    </div>
                </div>-->
            </div>
            <div class="text-center ">
                <a ui-sref="users" class="btn whit-btn view-a  white-color" role="button">View All</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="pull-right btn-marg">
            <button class="btn black-btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><i class="fa fa-angle-double-left" ></i> Previous</button>            <button class="btn tans-btn">{{currentPage+1}}</button><span class="sec-span"> of {{numberOfPages()}}</span>
            <button class="btn black-btn" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">Next <i class="fa fa-angle-double-right" ></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">
            <h2 class="border-up">City</h2>
            <div class="location">
                <div class="checkbox checkboxing">
                    <!--<input type="checkbox" id="All" ng-click="cityFil('All')">
                    <label for="All"><span></span> all</label>-->
                    <div ng-repeat="dataPoint in cityFilter track by $index">
                        <input type="checkbox" id="{{dataPoint}}" ng-checked="checkedLoc==dataPoint" ng-click="filterPriceAndCity(dataPoint)">
                        <label for="{{dataPoint}}"><span></span> {{dataPoint}}</label>
                    </div>
                </div>
            </div>
            <h2 class="border-up text-capitalize">Price <small>(per day)</small></h2>
            <div class="price">
                <div class="checkbox checkboxing">
                    <input value="" type="checkbox" ng-click="filterPriceAndCity(0)" id="Upto 10,000" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                    <label for="Upto 10,000"><span></span><i class="fa fa-inr"></i>Upto 10,000</label><br>
                    <input value="" type="checkbox" ng-click="filterPriceAndCity(1)" id="Upto 20,000" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                    <label for="Upto 20,000"><span></span><i class="fa fa-inr"></i>Upto 20,000</label><br>
                    <input value="" type="checkbox" ng-click="filterPriceAndCity(2)" id="Upto 50,000" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                    <label for="Upto 50,000"><span></span><i class="fa fa-inr"></i>Upto 50,000</label><br>
                    <input value="" type="checkbox" ng-click="filterPriceAndCity(3)" id="Upto 1,00,000" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                    <label for="Upto 1,00,000"><span></span><i class="fa fa-inr"></i>Upto 1,00,000</label><br>
                    <input value="" type="checkbox" ng-click="filterPriceAndCity(4)" id="₹100000 and above" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                    <label for="₹100000 and above" class="text-lowercase"><span></span><i class="fa fa-inr"></i>₹100000 and above</label><br>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-8 col-xs-12 users">
            <div class="col-sm-6 col-md-4 col-xs-12" ng-repeat="list in photographerData  |  startFrom:currentPage*pageSize | limitTo:pageSize"
                ng-if="photographerData">
                <div class="thumbnail">
                    <img src="frontend/img/userbackthumbanail.jpg" alt="..." class="img-full img-min-h">
                    <div class="user-icon">
                        <div class="border-half">
                            <div class="user-img" style="background: url('{{list.profilePic | serverimage}}') no-repeat 50% 50%" ng-if="list.profilePic">
                            </div>
                            <img src="frontend/img/profile.png" class="img-responsive profile-f-img" alt="" ng-if="!list.profilePic">
                            <!--<img ng-src="{{list.profilePic | serverimage}}" alt="" class="img-responsive profile-f-img" ng-if="list.profilePic">-->
                        </div>
                    </div>
                    <hr class="border-line2 text-center">
                    <div class="caption googleb">
                        <p class="title text-capitalize">{{list.name}} | {{list.location[0]}}</p>
                        <p class="title-intro">{{list.bio}}</p>
                        <p class="text-center"><a ui-sref="user-profile({userid:list._id})" class="btn whit-btn" type="button">View Profile</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-md-offset-4 col-sm-8 col-sm-offset-3" ng-if="!photographerData[0]">
                    <div class="nopht-title">
                        <div class="ht30">
                            <img src="frontend/img/clickm/6.png" class="imgwt doneLoading" alt="">
                            <h1 class="fith damionr text-capitalize">Sorry</h1>
                        </div>
                        <p>There are no photographers for your search result!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 text-center">
            <button class="btn black-btn" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><i class="fa fa-angle-double-left" ></i> Previous</button>            <button class="btn tans-btn">{{currentPage+1}}</button><span class="sec-span"> of {{numberOfPages()}}</span>
            <button class="btn black-btn" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">Next <i class="fa fa-angle-double-right" ></i></button>
        </div>
    </div>
    <div class="row">
        <div class="marg-rel">
            <h2 class="head-f">View other <br> &nbsp;&nbsp;Catergories</h2>
            <div class="row pad-up100">
                <div class="col-sm-6 col-md-3 col-xs-12 pad5" ng-repeat="user in showlessCatImages">
                    <div class="thumbnail shadow">
                        <img ng-src="{{user.viewOtherCatImage | serverimage}}" alt="...">
                    </div>
                    <div class="text-center">
                        <a ui-sref="wild-photographer({catid:user._id,catName:user.name})" class="btn orange-btn" role="button">View Catergory</a>
                    </div>
                </div>
            </div>
            <div class="text-center ">
                <button type="button" class="btn whit-btn view-orang" ng-click="LoadMore()">View All</button>
                <!--<a ui-sref="categories" class="btn whit-btn view-orang" role="button">View All</a>-->
            </div>
        </div>
    </div>
</div>