<!--Uib modal-->
<div class="modal-demo">
    <div class="modal-body" id="modal-body" style="border: 2px solid #f15a29">
        <div class="delete-pht text-center" >
            <h4>Are you sure you want to delete it? </h4>
            <p><button class="btn orange-btn" ng-click="deleteUploadImage(deleteMe)">Yes</button> <button class="btn orange-btn" ng-click="closeModal()">No</button></p>

            <div class="absolute-cross" ng-click="closeModal()"title="Close">
                <img src="frontend/img/cross.png" alt="Close-Box" class="img-responsive">
            </div>
        </div>
    </div>
</div>