<!--Uib modal-->
<div class="modal-demo pass-modal">
    <div class="modal-body" id="modal-body" style="border: 2px solid #f15a29">
        <div class=" text-center">

            <h2 class="upload-head">Image Verification</h2>
            <p>Your image has been submitted for approval.<br>Once approved it will be visible in the website</p>
            <div class="absolute-cross" ng-click="closeThankYouModal()" title="Close">
                <img src="frontend/img/cross.png" alt="Close-Box" class="img-responsive">
            </div>
            <p><a class="btn orange-btn" role="button" ng-click="closeThankYouModal()">Ok</a></p>
        </div>
    </div>
</div>