<section>
<div class="upload-imageblock sign-up">
  <span class="damoin text-center orange-color s-gn">Login</span>
  <span class="text-center detail-text">Enter your details and get clicking</span>
  <div class="form signup-form text-center">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
  <input type="email" class="form-control" id="email" placeholder="Email id">
</div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
      <input type="password" class="form-control" id="pwd" placeholder="Password">
         </div>
      </div>
  </div>

    <button type="button" class="btn btn-default sign-btn mgt15">Login</button>
<div class="divide-or">
  <div class="border-div"></div>
  <div  class="mg10 detail-text display-inline">or</div>
  <div class="border-div"></div>
</div>
    <button type="button" class="btn btn-default soc-btn fcbk mgt15"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</button>
    <button type="button" class="btn btn-default soc-btn gplus mgt15"><i class="fa fa-google-plus" aria-hidden="true"></i>Login with Google+</button>
    <span class="mgt15 exist-user">Not a user ?</span>
        <button type="button" class="btn btn-default sign-btn" ng-click="uploadSignup()">Sign up</button>
  </div>
</div>
          </section>
