<!--Uib modal-->
<div class="modal-demo pass-modal">
    <div class="modal-body" id="modal-body" style="border: 2px solid #f15a29">
        <div class="signupOTP-contet text-center">
            <div ng-if="!showSucessBox">
                <h2>OTP</h2>
                <h4>Please Enter the 4 Digit Verification Code sent to your Email id and Mobile Number.</h4>
                <form>
                    <div class="form-group">
                        <div class="dgt-code">
                            <input type="text" ng-model="formdata.otp" class="text-center">
                            <!--<span class="inline-block" contenteditable="true"></span>
                            <span class="inline-block" contenteditable="true"></span>
                            <span class="inline-block" contenteditable="true"></span>
                            <span class="inline-block" contenteditable="true"></span>-->
                        </div>
                    </div>
                    <p class="text-center">
                        <button class="btn orange-btn ok-btn" ng-click="checkOTPForSignUp(formdata)">OK</button>
                    </p>
                    <p class="orange-color">This OTP is valid for 10 minutes</p>
                </form>
            </div>
            <div ng-if="showSucessBox">
                <h4>Your account has been successfully verified.</h4>
                <p class="text-center">
                    <button class="btn orange-btn ok-btn" ng-click="signUp()">CONTINUE</button>
                </p>

            </div>
            <div class="absolute-cross" ng-click="closeModal();" title="Close">
                <img src="frontend/img/cross.png" alt="Close-Box" class="img-responsive">
            </div>
        </div>
    </div>
</div>