<section>
    <div class="upload-imageblock">
        <div class="close-modal pull-right" ng-click="$dismiss()"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">

                <div class="img-holder">
                    <img src="frontend/img/popup.jpg" alt="" class="img-responsive full-hight" ng-if="!imagesData.image">
                    <div style="background: url('{{imagesData.image | serverimage}}') no-repeat 50% 50%; height: 100%; background-size: cover!important;"
                        ng-if="imagesData.image">
                    </div>
                    <!--<img ng-src="{{imagesData.image | serverimage}}" alt="" class="img-responsive" ng-if="imagesData.image">-->
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="upl-sec">
                    <h2 class="upload-head">Upload Picture</h2>
                    <!--<div class="select_join relative">
                        <select name="txtCountry" ng-model="imagesData.category" required>
                              <option ng-selected="true" value="">Select Category</option>
                              <option value="{{cat.name}}" ng-repeat="cat in photographerData.speciality">{{cat.name}}</option>
                              <!--<option value="2">Scenery</option>
                            </select>
                        <div class="select-arrow">
                            <img src="frontend//img/photographer/arrow.jpg" alt="Click Here">
                        </div>
                    </div>-->
                    <div class="select-catopt">
                        <ui-select ng-model="cat.category1" on-select="addImages(cat.category1)" style="width: 200px;" title="Select Category">
                            <ui-select-match placeholder="Select Category">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <!--<ui-select-match placeholder="Select Category">{{cat.name}}</ui-select-match>-->
                            <ui-select-choices repeat="cat in photographerData.catego">
                                <span ng-bind-html="cat.name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <p>We accept the following type <br> <span>.JPG,.PNG</span></p>
                    <p>3 MB Maximum file size. <br><span>Files may take anywhere from a few seconds to a few minutes to upload</span></p>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="comment" placeholder="Type in keywords here" ng-model="imagesData.searchKeyword"></textarea>
                    </div>

                    <div class="upload-pic">
                        <!--<input type="file" value="" />-->
                        <div class="upload-imgbtn">{{imagesData.category}}
                            <button type="button" class="btn btn-default" ng-click="uploadImagePic(imagesData)" ng-disabled="!imagesData.image">Upload Image</button>
                        </div>
                        <div class="upload-dire">
                            <upload-image ng-model="imagesData.image" no-view ng-callback="imageSize"></upload-image>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>