<section>
    <div class="upload-imageblock">
        <div class="close-modal pull-right" ng-click="$dismiss()"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="row">
            <div class="col-md-5">

                <div class="img-holder">
                    <img src="frontend/img/popup.jpg" alt="" class="img-responsive" ng-if="!imagesData.image">
                    <div style="background: url('{{imagesData.image | serverimage}}') no-repeat 50% 50%; height: 100%; background-size: cover!important;"
                        ng-if="imagesData.image">
                    </div>
                    <!--<img ng-src="{{imagesData.image | serverimage}}" alt="" class="img-responsive" ng-if="imagesData.image">-->
                </div>
            </div>
            <div class="col-md-7">
                <div class="upl-sec">
                    <h2 class="upload-head">Upload Picture</h2>
                    <div class="select_join relative">
                        <select name="txtCountry" ng-model="imagesData.category" required>
                              <option ng-selected="true" value="">Select Category</option>
                              <option value="{{cat.name}}" ng-repeat="cat in photographerData.speciality">{{cat.name}}</option>
                              <!--<option value="2">Scenery</option>-->
                            </select>
                        <div class="select-arrow">
                            <img src="frontend//img/photographer/arrow.jpg" alt="Click Here">
                        </div>
                    </div>
                    <p>We accept the following type <br> <span>.JPG,.PNG</span></p>
                    <p>3 MB Maximum file size. <br><span>Files may take anywhere from a few seconds to a few minutes to upload</span></p>

                    <div class="upload-pic">
                        <!--<input type="file" value="" />-->
                        <div class="upload-imgbtn">
                            <button type="button" class="btn btn-default" ng-click="uploadImage(imagesData)" ng-disabled="!imagesData.image || !imagesData.category">Upload Image</button>
                        </div>
                        <div class="upload-dire">
                            <upload-image ng-model="imagesData.image" no-view></upload-image>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>