@font-face {
    font-family: 'Dosis-Regular';
    src: url("../fonts/Dosis-Regular_0.ttf");
}

.damionr {
    font-family: 'Damion-Regular';
}
@font-face {
    font-family: 'hctl';
    src: url("../fonts/HELVETICALT-LIGHT.OTF");
}

.dosisl {
    font-family: dosis-Light;
}

.hctl {
    font-family: hctl;
}

.light-grey {
    background-color: #f6f6f6;
}

header {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.51);
}

.grey-back {
    background-color: #f1f1f1;
}

.orange-color {
    color: $orangeColor;
}

.white-color {
    color: $whiteColor !important;
}

.facek {
    background-color: #3b5997;
}

.fspan {
    background-color: #354f88;
}

.googleb {
    background-color: #f15a29;
}

.google-back {
    background-color: #de4c33;
}

.googlespan {
    background-color: #ce3e26;
}

.black-back {
    background-color: #252525;
}

.whit-back {
    background-color: #fff;
}

.relative {
    position: relative;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.inline-block {
    display: inline-block;
}

.pad25 {
    padding: 25px 0;
}

.pad-up100 {
    padding-top: 83px;
}

.border-up {
    border-top: 2px solid gray;
    margin-top: 50px;
    padding-top: 10px;
    color: black;
    margin-bottom: 20px;

    small {
        color: black;
    }
}

.shadow {
    position: relative;
    border: none;
    padding: 9px;
    box-shadow: 0 0 6px black;
    border-radius: 0;
}

.pad5 {
    padding: 0 5px 60px;
}

.img-left {
    position: absolute;
    top: -45px;
    left: -75px;
    width: 430px;
}

.other-section {
    margin: 60px 150px 0;
    position: relative;
}

.pad-border {
    padding: 0 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cecece;
}

.user-section {
    padding: 0 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cecece;
}

.input-border {
    width: 100%;
    border: 1px solid #cecece !important;
    height: auto;
}

.pub-r {
    background-image: url("../img/pencil.png");
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: 20px 13px;
    padding: 7px 49px;
    color: #807d7d;
    font-size: 22px !important;
    height: auto;
}

.pub-btn {
    font-size: 20px;
    color: #fff;
    background: #f1592a;
    padding: 9px 24px;
    border: 1px solid #f1592a;
}

.profile-intro {
    margin-top: 17px;
    padding-left: 85px;
}

.f-photo-div {
    position: relative;
    margin: 50px 0 0;
}

.img-min-h {
    min-height: 160px;
}

.forml {
    padding: 36px 0;
    margin: 0;
}

.mr15 {
    margin: 0 3px;
}

.pad-right5 {
    padding: 0 5px;
}

.font70 {
    font-size: 70px;
}

.ft100 {
    font-size: 100px;
}

.pad60 {
    padding: 70px 0;
}

.mr40 {
    margin: 40px 0;
}

.min-h {
    min-height: 416px;
}

.pad100 {
    padding: 0 100px;
}

.marg-rel {
    position: relative;
    margin: 0 26px;
}

.view-orang {
    margin-top: 0 !important;
    margin-bottom: 44px !important;
    background-color: transparent !important;
    border: 1px solid #f15a29 !important;
}

.pad0 {
    padding: 0 !important;
}

.ab {
    position: absolute;
    bottom: 0;
    margin: auto 0;
    right: 0;
    width: 100%;

    .border-profile {
        margin-left: 13%;
        margin-bottom: -36px;
        border-radius: 50%;
        width: 26%;
        padding: 12px;
        border: 18px solid #f15a29;
        border-top: 18px solid transparent;
        border-right: 18px solid transparent;
        border-bottom: 18px solid transparent;
        transform: rotate(57deg);
        display: inline-block;
        float: left;

        .profile-user {
            width: 40px;
            position: absolute;
            z-index: 9;
            left: 54%;
            top: 0;
            transform: rotate(-53deg);
        }

        .profile-f-img {
            width: 100%;
        }
    }
}

.user-name {
    margin-left: 15px;
    position: absolute;
    bottom: 105px;
    float: left;

    p {
        line-height: 26px;
        font-size: 30px;
        font-family: dosis-Light;
        color: #fff;
        text-transform: capitalize;
    }

    h1 {
        font-size: 60px;
        font-family: dosis-Light;
        color: #fff;
        text-transform: capitalize;
    }
}

.profile-img {
    display: inline;
    float: left;

    img {
        border-radius: 50%;
        width: 75px;
    }
}

.head-f {
    font-family: 'damion-regular';
    color: #f4511e;
    font-size: 52px;
    line-height: 39px;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    margin: 0;
}

.user-ab {
    position: absolute;
    top: 50%;
    margin: auto 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.intro-profile {
    margin-top: -11px;
    padding: 2px 15px;
    text-align: center;

    .name-loc {
        margin-bottom: 0;
        font-family: 'Dosis-Regular';
        color: #fff;
        font-size: 20px;
    }

    .spec {
        margin-bottom: 0;
        font-family: 'Dosis-Regular';
        color: #fff;
        font-size: 16px;
    }
}

.main-cont {
    border-radius: 5px;
    margin: 60px 150px;

    .fa-inr {
        font-size: 25px;
    }

    .intro {
        display: inline;
        font-size: 20px;
        font-family: dosis-Light;
        color: #f15a29;
        font-weight: 700;
        text-transform: capitalize;
    }
}

.so-nam {
    font-size: 36px;
    font-family: dosis-Light;
    color: #f15a29;
    font-weight: 700;

    img {
        width: 70px;
        margin: 0 15px;
    }
}

.view-a {
    margin-top: -32px;
    margin-bottom: 29px;
    background-color: transparent !important;
    border: 1px solid white !important;
}

.full-tabs {
    margin: 0;

    li {
        font-weight: 600;
        font-family: hctl;
        padding: 2px 40px;
        border-color: transparent;
        margin-right: 10px;
        font-size: 30px;
        cursor: pointer;
        color: #ffffff;
        background-color: lightgrey;

        &.active,
        :hover {
            background-color: #f15a29;
            color: white;
        }
    }
}

.full-tabs2 {
    margin: 0;

    .border-line {
        border: 2px solid;
        padding: 21px 0 0;
        color: #fff;
        border-radius: 6px;
    }

    li {
        padding: 0 40px;
        margin-bottom: -2px;
        border-radius: 3px;
        border-color: transparent;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 48px;
        cursor: pointer;
        color: #ffffff;
        border-bottom: 5px solid transparent;
        position: relative;

        img {
            display: none;
        }

        &.active {
            border-bottom: 5px solid black !important;
            color: white;

            img {
                display: block;
                position: absolute;
                left: 50%;
                transform: translate(-42%, -43%);
                z-index: 999999;
            }
        }
    }
}

.border-hr {
    border-top: 1px solid #bfbfbf;
    margin-left: 32%;
    margin-right: 32%;
}

hr.border-hr:after {
    content: 'or';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f6f6f6;
    color: #8c8b8b;
    font-size: 18px;
    font-family: helveticalt-narrow;
}

.head-name {
    text-align: center;

    .ht30 {
        display: inline-block;
        height: 130px;

        .imgwt {
            position: absolute;
            transform: rotate(59deg);
            width: 150px;
        }

        .fith {
            margin-top: 61px;
            padding-left: 42px;
            z-index: 9;
            position: relative;
            color: black;
            display: inline-block;
        }
    }

    p {
        margin: 0;
        padding: 35px 98px 0;
        font-size: 22px;
        text-align: justify;
    }

    .sech {
        line-height: 70px;
        margin: 0;
        color: $orangeColor;
    }
}

.reg-btn {
    font-family: dosis-Light;
    border-bottom: 2px solid rgba(241, 90, 41, 0.19);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
    font-weight: normal;
    color: #fff !important;
    background: #f6f6f6;
    margin-bottom: 15px;

    &:active,
    :focus,
    :hover {
        box-shadow: none;
        border-color: #f15a29 !important;
    }
}

.reg-btn:focus {
    box-shadow: none;
    border-color: #f15a29 !important;
}

.orange-btn {
    font-family: hctl;
    color: #fff;
    background-color: #f15a29;
    border: none;
    border-radius: 4px;
    padding: 6px 30px;
}

.orange-btn:focus,
.orange-btn:hover {
    color: #fff;
    background-color: #f15a29;
    outline: none !important;
    box-shadow: none;
}

.whit-btn {
    font-family: hctl;
    color: #f15a29;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 6px 36px;
}

.whit-btn:focus,
.whit-btn:hover {
    color: #f15a29;
    background-color: #ffffff;
    outline: none !important;
    box-shadow: none;
}

.whit-color {
    text-decoration: none;
    color: #fff;
}

.whit-color:focus,
.whit-color:hover {
    color: #fff;
}

.btn-social {
    margin: 0 13px;
    position: relative;
    padding-left: 52px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-family: dosis-Light;

    span {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
    }
}

.btn-social:focus,
.btn-social:hover {
    color: #fff;
    outline: none;
}

.flink {
    font-family: dosis-Light;
    float: right;
    color: #676666 !important;
    text-decoration: none !important;
    margin-top: -13px;
    font-weight: 600;
}

.list {
    list-style: none;

    li::before {
        content: "• ";
        color: #f15a29;
        font-size: 15px;
        padding-right: 3px;
    }
}

.intro-con {
    margin: 0;
    font-size: 26px;
    text-align: justify;
    font-weight: 100;
}

.intro {
    margin-top: -35px;

    strong {
        font-family: helveticalt-narrow;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

.black-btn {
    margin: 0 15px;
    width: 100px;
    border-radius: 4px;
    background-color: #252525;
    color: #fff !important;
    font-size: 18px;
    padding: 6px 11px;
    font-family: dosis-Light;
    outline: none;
}

.black-btn:focus,
.black-btn:hover {
    color: #fff;
    outline: none;
}

.tans-btn {
  padding: 8px 16px;
    font-family: dosis-Light;
    color: black;
    font-weight: 600;
    background: transparent;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    cursor: text;
    outline: none;
}
.btn:focus,
.btn:hover {
    outline: none !important;
    box-shadow: none !important;
}

.sec-span {
    padding: 0 5px;
    outline: none;
    font-family: dosis-Light;
    color: black;
    font-weight: 600;
}

.btn-marg {
    margin: 60px 18px 21px;
}

.location {
    height: 258px;
    overflow: auto;
}

.list {
    min-height: 373px;
    background-image: url("/../frontend/img/clickm/11.png");
    background-repeat: no-repeat;
    background-position: 100% 46%;
    background-size: 34% 100%;

    li {
        margin-left: -18px !important;
        padding-bottom: 5px;
    }

    h2 {
        font-family: 'Damion-Regular';
        font-size: 55px;
        color: #f15a29;
        margin: 0;
    }
}

.users {
    .thumbnail {
        margin: 50px 0;
        position: relative;
        padding: 0;
        border: none;

        .img-min-h {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .border-line2 {
            border-top: 1px solid #f15a29;
            margin: 0;
        }

        hr.border-line2:after {
            content: '';
            position: relative;
            top: -10px;
            color: #8c8b8b;
            font-family: helveticalt-narrow;
            background-size: cover;
            display: inline-block;
            width: 19px;
            height: 19px;
            background-image: url("/../frontend/img/clickm/7.png");
            background-repeat: no-repeat;
        }

        .caption {
            min-height: 260px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .text-center {
                bottom: 5px;
                position: absolute;
                left: 0;
                right: 0;
            }

            .title {
                font-family: dosis-Light;
                margin: 0;
                color: #fff;
                text-align: center;
                font-size: 26px;
                padding: 10px 0;

                .border-line {
                    border: 1px solid #fff;
                }
            }

            .title-intro {
                font-size: 13px;
                font-family: hctl;
                padding: 0 20px;
                color: black;
            }
        }

        .user-icon {
            position: absolute;
            left: 0;
            top: -30px;
            right: 0;
        }
    }
}

.border-half {
    border: 9px solid #f15a29;
    border-radius: 50%;
    width: 150px;
    padding: 5px;
    margin: auto;
    border-top: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    transform: rotate(44deg);
}

.profile-f-img {
    border-radius: 50%;
    width: 150px;
    border: 3px solid #f15a29;
    transform: rotate(-44deg);
}

.sec-tab {
    padding-left: 20%;
    margin-top: 100px;

    h1 {
        line-height: 39px;
    }

    p {
        color: black;
        font-size: 60px;
        line-height: 47px;
    }

    a {
        font-size: 26px;
        margin-top: 20px;
    }
}

.sub-main {
    position: relative;
    margin: 10px 0 60px;

    img {
        border-radius: 10px;
    }

    .sub-title {
        border-radius: 10px;
        background: linear-gradient(to right, rgba(204, 183, 183, 0) 30%, rgba(0, 0, 0, 0.85) 82%);
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        .fith {
            text-shadow: 0 2px 5px rgba(25,25,25,.64);
            margin-top: 50px;
            margin-bottom: 0;
            line-height: 57px;
            padding-right: 100px;
        }

        .sech {
            text-shadow: 0 2px 5px rgba(25,25,25,.64);
            margin: 0 40px;
            text-align: right;
        }

        p {
            text-shadow: 0 2px 5px rgba(25,25,25,.64);
            width: 62%;
            float: right;
            margin-top: 15px;

            .btn {
                box-shadow: 0 2px 5px rgba(25,25,25,.64);
                font-family: dosis-Light !important;
                font-weight: 600;
                letter-spacing: 1px;
                font-size: 18px !important;
            }
        }
    }
}
//checkbox

.checkboxing {
    li {
        list-style: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]+label {
        font-size: 17px;
        text-transform: capitalize;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 600;
    }

    input[type="checkbox"]+label span {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: -17px;
        margin-right: 5px;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #01194A;
        margin-top: -7px;
    }

    input[type="checkbox"]+label span {
        background-color: transparent;
    }

    input[type="checkbox"]:checked+label span {
        background-color: #f15a29;
    }

    input[type="checkbox"]+label span,
    input[type="checkbox"]:checked+label span {
        @include transition(background-color 0.4s linear);
    }
}
// .checkboxdemoSelectAll .demo-legend {
//     color: #3F51B5;
// }
//
// .checkboxdemoSelectAll .demo-fieldset {
//     border-style: solid;
//     border-width: 1px;
//     height: 100%;
// }
//
// .checkboxdemoSelectAll .demo-select-all-checkboxes {
//     padding-left: 30px;
// }
