    @media (max-width: $screen-xs-max) {
        //Global classes
        .text-hide {
            display: none;
        }
        .head-f {
            font-size: 30px!important;
            line-height: 1!important;
        }
        .ft100 {
            //font-size: 50px!important;
            font-size: 42px!important;
        }
        .font70 {
            font-size: 25px!important;
        }
        .big-font {
            font-size: 55px!important;
        }
        .pad60 {
            padding: 30px 0;
        } //End of global classes
        //Start of header.html
        .brand-logo {
            width: 92px!important;
        }
        a.navbar-brand {
            padding: 21px 0 5px!important;
        }
        header>nav div.navbar-toggle>div.icon_float>span.icon_bar0,
        header>nav div.navbar-toggle>div.icon_float>span.icon_bar1,
        header>nav div.navbar-toggle>div.icon_float>span.icon_bar2,
        {
            height: 2px!important;
        }
        .search-directive {
            display: none;
        }
        .photographer {
            //  text-align: left;
            span {
                font-size: 11.25px!important;
            }
        }
        .side-menu {
            width: 50%;
            .list-group-item {
                font-size: 16px;
            }
        } //End of header.html
        //Footer.html
        footer {
            .footer_bgdw {
                display: block;
                p {
                    font-size: 12px;
                    margin: 15px 0 0;
                }
            }
        } //End of Footer.html
        //Start of home.html
        .featu_photo_caraso {
            .fp_padd_rl {
                .fp_width {
                    .fp_innerPadd {
                        .fp_user_icn {
                            top: 12%;
                            .border-half {
                                @include size(100px, 100px);
                            }
                            h3 {
                                font-size: 21.34px!important;
                            }
                            p {
                                font-size: 18.08px!important;
                            }
                        }
                    }
                }
            }
        }
        .pht_contest {
            height: 280px!important;
            .jumbotron {
                padding: 0!important;
                text-align: center;
                .ht100 {
                    height: auto!important;
                    h2 {
                        font-size: 30px!important;
                        span:first-child {
                            margin-left: -35px;
                        }
                        span:last-child {
                            margin-left: 0!important;
                        }
                    }
                }
            }
        }
        .categories {
            .ht30 {
                .imgwt {
                    width: 80px!important;
                    left: -37px!important;
                }
                h2 {
                    font-size: 30px!important;
                    margin-top: 10px;
                }
            }
            button {
                width: 115px!important;
                height: 35px!important;
                &:hover {
                    color: white;
                }
            }
        }
        .signup {
            .img_relative {
                display: none;
            }
            .cam_heading {
                height: 50px!important;
                h2 {
                    font-size: 30px!important;
                }
                h2:nth-child(even):after {
                    top: -40px!important;
                    font-size: 80px!important;
                }
                p {
                    font-size: 16px;
                }
            }
        }
        .atm {
            .bg_img {
                .abslt {
                    // used to adjust the logo
                    width: 29px!important;
                    bottom: -15px!important;
                    @include transform(rotate(3deg));
                    left: -11px!important;
                }
            }
            .user_info {
                h2 {
                    font-size: 22px!important;
                }
            }
        }
        .testimonial {
            .padd63 {
                padding: 15px 15px;
                text-align: initial;
            }
            .abslt_lt {
                display: none;
            }
            .abslt_rt {
                right: 1px!important;
                width: 29px!important;
            }
        } //End of home.html
        //Start of users.html
        .head-name {
            padding: 30px 0!important;
            .ht30 {
                height: 70px!important;
                .imgwt {
                    width: 110px;
                    margin-top: 15px!important;
                }
            }
            .sech {
                line-height: 0.8;
            }
            p {
                font-size: 18px;
            }
        }
        .sub-main {
            .sub-title {
                .fith {
                    padding-right: 80px;
                }
            }
            .upgrd-gold {
                .gold-mgtop {
                    margin-top: 0;
                }
            }
        }
        .users {
            padding: 0 35px;
        } //End of users.html
        //Start of user-profile
        .full-tabs2 li {
            padding: 0 25px;
        }
        .main-cont {
            margin: 60px 0px!important;
        }
        .so-nam {
            img {
                width: 45px!important;
            }
        }
        .send_enquirySlidebar {
            right: -68%;
            width: 69%;
            .padd35 {
                padding: 0 25px;
            }
            .enquiry {
                height: 315px;
                padding-right: 16px;
                overflow-y: scroll;
                overflow-x: hidden;
            }
            .cntry-code {
                width: 64px;
            }
            .mobNo {
                width: calc(100% - 64px);
                height: auto;
                margin-left: 64px;
            }
        }
        .showEnquery {
            right: 0!important;
        }
        .sec-tab p {
            font-size: 40px;
            line-height: 30px;
        } //End of user-profile
        //Start of future-photographer.html
        .feature-photo {
            .head-name {
                p {
                    padding: 35px 15px 0;
                }
            }
            .ht30 {
                position: relative;
            }
            .full-tabs {
                li {
                    font-size: 18px!important;
                    padding: 2px 35px;
                }
            }
            .signup-form {
                margin-bottom: 10px;
            }
            .intro {
                margin-top: 0;
            }
            .list {
                background-image: none;
            }
        } //End of future-photographer.html
        //Start of photographer.html
        .profile-block {
            bottom: 33px;
            .profile-holder {
                width: 130px!important;
                height: 130px!important;
            }
            .name-sec {
                width: 60%!important;
                .name-part {
                    font-size: 25px;
                }
                .loc-span {
                    font-size: 21px;
                }
                .added-city {
                    width: 100% !important;
                }
            }
            .holder1 {
                vertical-align: bottom;
            }
        }
        .btn-1 {
            padding: 0;
            .btn-select {
                font-size: 16px;
            }
        }
        .border-line {
            padding: 8px 0px;
        }
        .quarter-circle {
            display: none;
        }
        .about-desc {
            margin: 35px 15px;
        }
        .form-horizontal {
            .selected-data {
                width: 100%!important;
            }
        }
        .terms {
            width: 90%;
        }
        .historypackage-card1,
        .historypackage-card2 {
            padding: 25px 20px;
            .pkg-info {
                .upload-pic {
                    vertical-align: top;
                    float: none;
                }
            }
        }
        .sub-main {
            .sub-title {
                height: 0;
            }
            .upgrade-inner {
                padding-top: 20px;
                position: relative;
                width: 100%;
                margin-left: 6px;
                border-radius: 10px;
                background: linear-gradient(to right, #adadad, #e4e4e4);
                color: #333;
            }
        }
        .uploaded-images {
            padding: 20px 0px 0;
            .package-head {
                width: 100%!important;
            }
            .circular-checkbox {
                width: 100%;
            }
            .upload-pic {
                width: 100%;
                margin: 15px 0;
            }
            .checkbox-form button {
                width: 100%;
            }
        }
        .circular-checkbox .radio-cat {
            width: 100%;
            margin-left: -2px;
        }
        .edit-uploaded button {
            font-size: 13px;
        }
        .upgrd-gold h2 {
            margin-top: 1px;
        } //End of photographer.html
        //Start of wildlife-photographer.html
        .black-btn {
            font-size: 13px;
            width: 71px;
        }
        .nopht-title {
            margin: 50px 0;
            .ht30 {
                margin-bottom: 25px!important;
            }
        }
        .marg-rel {
            margin: 10px 26px 0;
        } //End of wildlife-photographer.html
        //Start of thank, error, thanks-gold, thanks-silver,becomefp .html
        .thanks-title {
            text-align: center;
        }
        .free-member {
            width: 100%!important;
            padding: 65px 10px 65px;
            line-height: 1.2;
            .small-font {
                font-size: 25px!important;
                line-height: 0;
            }
            .big-font {
                font-size: 55px!important;
            }
            .left-font {
                text-align: inherit;
                margin-left: -19%!important;
            }
            .deny-msg {
                display: inline;
            }
        }
        .silver-pack {
            padding: 0;
            .pkg-info {
                width: 31%!important;
            }
        }
        .circular-checkbox {
            width: 100%;
            .radio-cat {
                width: 100%!important;
            }
            .upload-pic {
                margin: 15px 0;
                width: 100%;
            }
            button {
                width: 100%;
            }
        }
        .text-set {
            max-width: 100%;
        }
        .pht-cost {
            width: 100%!important;
        }
        .abt-form select {
            width: 100%;
        }
        .upgrade-gd {
            .free-member {
                padding: 9px 10px 35px!important;
                .small-font {
                    line-height: 1!important;
                }
            }
        }
        .upgrade-pkg,
        .upgrade-pkg2 {
            margin: 0 14px;
        } //End of thank, error, thanks-gold, thanks-silver,becomefp .html
        // Start of about us page, privacy-policy, terms-condition page
        .aboutus__desc,
        .privacy-policy__desc,
        .terms-condition__desc {
            @include padding(45px 15px 60px);
        }
        .contactus {
            .contactus__address {
                left: auto;
                address {
                    line-height: 1.8!important;
                }
            }
        } //End of about us page, privacy-policy, terms-condition page
        //All modals html
        //Statrt of signup.html
        .upload-imageblock {
            padding: 15px;
            .img-holder {
                background-color: rgba(204, 204, 204, 0.45);
                height: 185px;
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
            .upl-sec {
                text-align: center;
                .ui-select-container {
                    width: 100%!important;
                }
                .ui-select-search {
                    width: 100%!important;
                }
                .upload-dire {
                    width: 22%;
                    margin-left: 5px;
                }
            }
        }
        .sign-up {
            .sign-btn {
                font-size: 13px;
                padding: 4px 15px 7px;
            }
            .soc-btn {
                margin: 0 5px 5px;
                font-size: 13px;
                width: auto;
            }
        } //End of signup.html
        //End of all modals html
    } // End of @media
    @media (max-width: 1024px) {
        // Start of  home page
        //CSS global classes
        .font50 {
            font-size: 50px;
        }
        .head-f {
            @extend .font50;
        }
        .profile-holder {
            @include size(195px, 195px);
        }
        .package-name {
            font-size: 20px;
        }
        .set-1 {
            font-size: 16px;
        }
        .full-hight {
            height: 100%;
        }
        .package-price {
            font-size: 20px;
        }
        .big-font {
            font-size: 70px!important;
        }
        .font70 {
            font-size: 40px;
        }
        .ft100 {
            font-size: 70px;
        } //End of CSS global classes
        //Start of header.html
        header>nav div.navbar-toggle>div.icon_float>span.icon_bar0,
        header>nav div.navbar-toggle>div.icon_float>span.icon_bar1,
        header>nav div.navbar-toggle>div.icon_float>span.icon_bar2,
        {
            height: 3px;
        }
        .brand-logo {
            width: 171px;
        }
        a.navbar-brand {
            padding: 16px 15px 5px;
        }
        .search-directive {
            .ui-select-placeholder {
                font-size: 12px;
            }
            .select-arrow {
                @include position(absolute, 12px null null 29%);
                img {
                    @include size(32px, 34px);
                }
            }
            .go-btn {
                font-size: 12px;
                padding: 2.4% 2.3%;
            }
        }
        .photographer {
            .photographer_img {
                @include size(25px, 19px);
                img {
                    height: auto;
                }
            }
            span {
                font-size: 12.25px;
            }
            button {
                font-size: 12px;
                @include size(70px, auto);
            }
        }
        .side-menu {
            top: 58px;
        } //End of header.html
        //Start of future photo
        .featu_photo_caraso {
            .fp_padd_rl {
                h2 {
                    @extend .font50;
                }
            }
        } //End of future photo
        // start of photo contest section
        .pht_contest {
            height: 345px;
            .jumbotron {
                padding: 0;
                .ht100 {
                    height: 85px;
                    h2 {
                        @extend .font50;
                    }
                }
            }
        } //End of the photo contest section
        //Start of section categorie
        .categories {
            .ht30 {
                .imgwt {
                    width: 110px;
                    left: -55px;
                }
                h2 {
                    @extend .font50;
                }
            }
            .all_cate {
                .padd_rt {
                    padding-right: 15px;
                }
                .padd_lt {
                    padding-left: 15px;
                }
            }
            button {
                @include size(130px, 39px);
                &:hover {
                    color: white;
                }
            }
        } //End of section categorie
        //Start of signup section
        .signup {
            .mg {
                @include margin(0 0);
            }
            .img_relative {
                top: -60px;
            }
            .img_absolute {
                display: none;
            }
            .cam_heading {
                height: 85px;
                h2 {
                    @extend .font50;
                }
                h2:nth-child(even):after {
                    top: -55px;
                    font-size: 120px;
                }
                p {
                    font-size: 16px;
                }
            }
        } //End of sign up section 
        //Start of the artist of the month
        .atm {
            min-height: 395px;
            margin-bottom: -55px;
            .head-f {
                top: 31px;
                font-size: 34px;
                line-height: 26px;
            }
            .bg_img {
                .user-ab {
                    .border-half {
                        @include size(180px, 180px);
                        .profile-f-img {
                            width: 180px;
                            height: 150px;
                            transform: rotate(-44deg);
                        }
                        .user-img {
                            background-size: cover!important;
                            height: 100%;
                            border-radius: 50%;
                            transform: rotate(-44deg);
                        }
                    }
                }
                .abslt {
                    // used to adjust the logo
                    width: 40px;
                    position: absolute;
                    bottom: -21px;
                    @include transform(rotate(3deg));
                    left: -21px;
                }
            }
            .user_info {
                h2 {
                    font-size: 24px;
                }
                h3 {
                    font-size: 19px;
                }
                p {
                    font-size: 16px;
                }
            }
        } //End of the artist of the month
        // Start of Testimonials
        .testimonial {
            min-height: 345px!important;
            h2 {
                @extend .font50;
            }
            .abslt_lt {
                width: 40px;
            }
            .abslt_rt {
                // used for downside logo image
                right: -5px;
                width: 40px;
                bottom: -14px;
            }
        } //End of Testimonials
        // End of home page.html
        // Start of photographer.html page
        .profile-banner {
            .profile-banner__bg {
                height: auto;
            }
        }
        .name-sec {
            @include size(505px, auto);
            margin-bottom: 30px;
            .name-part {
                font-size: 30px; // line-height: 1;
                text-transform: capitalize;
            }
            .added-city {
                vertical-align: top;
                width: 75%;
            }
        }
        .btn-1 {
            .btn-select {
                font-size: 20px;
            }
            .form-horizontal {
                .selected-data {
                    display: inline-block;
                    vertical-align: top;
                    width: 70%;
                }
            }
        }
        .city {
            .city__name {
                @include size(40%, auto);
            }
            .city__add-icon {
                @include margin(null 0 null null);
            }
            .added-city {
                width: 100%;
            }
        }
        .abt-form {
            .speciality-list {
                @include size(100%, auto);
            }
            .check-box {
                padding: 0 5px;
            }
        }
        .form-horizontal .selected-data {
            width: 70%;
        }
        .uploaded-images {
            .package-head {
                width: 35%;
            }
            .count-images {
                font-size: 17px;
            }
        }
        .package-specs li {
            font-size: 18px;
        }
        .historypackage-card1,
        .historypackage-card2 {
            .package-name,
            .package-price {
                font-size: 20px;
            }
        }
        .checkbox-form {
            button {
                font-size: 15px;
                padding: 10px 30px;
            }
        }
        .circular-checkbox {
            .radio-cat {
                width: 79%;
            }
        }
        .edit-uploaded {
            button {
                padding: 5px 5px;
            }
        }
        .profile-holder {
            &:hover {
                .upload-trans {
                    padding: 6px 20px 28px;
                }
            }
        }
        .upl-sec {
            // Used in userupload-photo.html modal
            .upload-head {
                font-size: 30px;
            }
            p {
                font-size: 14px;
            }
            .upload-pic {
                button {
                    font-size: 14px;
                }
            }
        }
        .sub-main {
            .sub-title {
                h2 {
                    font-size: 20px;
                }
                p {
                    margin-top: 10px;
                    .btn {
                        font-size: 13px!important;
                    }
                }
            }
            .upgrade-inner {
                font-size: 19px;
                right: 6px;
                bottom: 4%;
            }
        }
        .upgrade-gd {
            .upgrd-gold {
                .big-font {
                    font-size: 70px;
                }
            }
        }
        .package-card {
            img {
                width: 65px;
            }
        }
        .silver-pack {
            .pkg-info {
                width: 21%;
            }
        }
        .or-cont:before {
            content: '';
        }
        .free-member {
            width: 84%;
            .left-font {
                margin-left: 32%;
            }
        }
        .head-name {
            .ht30 {
                .imgwt {
                    width: 110px;
                    margin-top: 47px;
                }
            }
            .sech {
                line-height: 0.8;
            }
            p {
                font-size: 18px;
            }
        }
        .sub-main {
            .sub-title {
                .fith {
                    line-height: 0.8;
                    margin-top: 30px;
                }
            }
        } // End of photographer.html page
        //Start of user.html page
        .head-name {
            .ht30 {
                .imgwt {
                    width: 110px;
                    margin-top: 47px;
                }
            }
            .sech {
                line-height: 0.8;
            }
            p {
                font-size: 18px;
            }
        }
        .sub-main {
            .sub-title {
                .fith {
                    line-height: 0.8;
                    margin-top: 30px;
                }
            }
        } //End of user.html page
        //Start of user-profile.html
        .main-cont {
            margin: 60px 65px;
        }
        .so-nam {
            font-size: 30px;
            img {
                width: 50px;
                margin: 0 10px;
            }
        }
        .ab {
            @include position(absolute, null 66% 0 3%);
            width: 0;
            .border-profile {
                @include size(250px, 250px);
            }
        }
        .user-name {
            bottom: 80px;
            h1 {
                font-size: 35px;
            }
            p {
                font-size: 23px;
            }
        }
        .full-tabs2 {
            li {
                font-size: 25px;
            }
            .border-line {
                padding: 9px 0px 6px;
            }
        } //End of user-profile.html
        //Start of feature-pht.html
        .full-tabs {
            li {
                font-size: 25px;
            }
        }
        .intro-con {
            font-size: 18px;
        }
        .list {
            min-height: 1px;
            background-position: right center;
            background-size: 28% 85%;
        }
        .min-h {
            min-height: 565px;
        }
        .btn-social {
            margin: 0 2px;
            padding-left: 40px;
            span {
                width: 30px;
                font-size: 1.2em;
            }
        } //End of feature-pht.html
        //Start of Wild-photographer.html
        .other-section .thumbnail .profile-f-img {
            height: auto;
        }
        .black-custom-slider {
            .border-half {
                @include size(100px, 100px);
            }
            .profile-f-img {
                height: auto;
            }
            .intro-profile .name-loc {
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        } //End of Wild-photographer.html
        // Start of about us page, privacy-policy, terms-condition page
        .contactus {
            .contactus__address {
                address {
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        } //End of about us page, privacy-policy, terms-condition page
        //Start of Thank You for gold, silver & sorry pages
        .thanks-title {
            .ht30 {
                position: relative;
                @include margin(null null 40px null);
            }
            .imgwt {
                @include size(100px, auto);
            }
            h1 {
                font-size: 70px;
                line-height: 0.8;
                @include margin(50px null null null);
            }
            p {
                font-size: 16px;
            }
        }
        .thanks .cam-img,
        .thanks-gold .cam-img,
        .thanks-silver .cam-img,
        .error .cam-img,
        .becomefp .cam-img {
            @include padding(35px);
        }
        .thanks,
        .thanks-gold,
        .thanks-silver,
        .error,
        .becomefp {
            button {
                font-size: 12px;
                @include padding(10px 20px);
                border-radius: 0px;
            }
        }
        .becomefp {
            .becomefp-title {
                .ht30 {
                    margin-left: 8.33333%;
                }
                p {
                    @include margin(10px 5% null);
                }
            }
            .cam-img {
                @include padding(35px 150px);
            }
            button {
                display: block;
                margin: 0 auto;
            }
        } //End of Thank You for gold, silver & sorry pages
    }

    @media (max-width: $screen-md-max) {}

    @media only screen and(orientation: landscape) {
        .photographer {
            .photographer_img {
                @include size(35px, 28px);
            }
            span {
                font-size: 17.25px;
            }
        }
    }