<div class="form-group" fields ng-if="formData[type.tableRef].slice(str.length-3, str.length) != 'pdf'">
    <label>{{type.name}} <span ng-show="type.required">*</span></label>
    <img ng-if="formData[type.tableRef]" style="width:150px; padding:2px " ng-src="https://beta.clickmania.in/api/upload/readFile?file={{formData[type.tableRef]}}"
        alt="">
    <upload-image ng-model="formData[type.tableRef]" ng-disabled="type.disabled" no-view ng-if="!type.view"></upload-image>
    <upload-image ng-model="formData[type.tableRef]" ng-disabled="type.disabled" ng-if="type.view"></upload-image>
</div>

<div class="form-group" fields ng-if="formData[type.tableRef].slice(str.length-3, str.length) == 'pdf'">
    <label>{{type.name}} <span ng-show="type.required">*</span></label>
    <a ng-href="http://clickmania.in/pdf/{{formData[type.tableRef]}}" target="_blank">
     <img ng-src="http://www.freeiconspng.com/uploads/pdf-icon-png-17.png" alt="{{p.types}}" style="width: 100px;height: 100px;"/>
  </a>
</div>